---
import BaseLayout from "../layouts/BaseLayout.astro";
import Testimonials from "../components/Actions.astro"
---

<BaseLayout title="Beta Design">
  <p>Le contenu de ma page, enveloppé dans un composant de mise en page !</p>
  <Testimonials/>
</BaseLayout>
