---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<div class='home-2-feature-section'>
  <div class='wrapper-1240px home-2-feature-flex'>
    <div class='home-2-feature-upper-container'>
      <div class='home-2-feature-text-container'>
        <div class='heading-animation-div'>
          <img
            src='../../assets/6259e59720a6347d57a4fe10/62b9a791fa86142576d856cc_Group%20892.svg'
            loading='lazy'
            alt=''
            class='home-2-feature-icon'
          />
        </div>
        <div class='heading-animation-div'>
          <h2 class='h2-heading-56px margin-bottom-24px'>
            Send your money
            <span class='boska-variable-text-italic'>across boarder</span>
             within seconds
          </h2>
        </div>
        <div class='heading-animation-div'>
          <div class='body-1-20px'>
            Centralize and simplify payments, and get comprehensive insights on
            your financials. Connect your bank account and your card to
            Milestone.
          </div>
        </div>
        <div class='heading-animation-div'>
          <a
            href='https://webflow.com/'
            target='_blank'
            class='link-block-wrapper w-inline-block'
            ><div class='recent-blog-black-box'>
              <img
                src='../../assets/6259e59720a6347d57a4fe10/6259e59720a6349779a4fe5d_ArrowUpRight.svg'
                loading='lazy'
                alt=''
                class='arrow-image-link-block'
              />
            </div>
            <div class='recent-blog-bold-text-16px'>learn more</div></a
          >
        </div>
      </div>
      <div class='home-feature-2-image-container'>
        <div class='image-animation-div'>
          <img
            src='../../assets/6259e59720a6347d57a4fe10/6259e59720a6341225a4ff01_Group%20491%20(1).png'
            loading='lazy'
            sizes='(max-width: 767px) 90vw, (max-width: 991px) 73vw, (max-width: 1439px) 43vw, 560px'
            srcset='
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6341225a4ff01_Group%2520491%2520(1)-p-500.png  500w,
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6341225a4ff01_Group%20491%20(1).png           1120w
                  '
            alt=''
            class='home-feature-hero-image'
          />
        </div>
      </div>
      <div class='home-feature-2-gradient-div'>
        <div class='yellow-gradient-div home-feature-1-gradient'>
          <img
            src='../../assets/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%20Gradient%20Image%20(1).png'
            loading='lazy'
            sizes='(max-width: 767px) 90vw, 600px'
            srcset='
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%2520Gradient%2520Image%2520(1)-p-500.png  500w,
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%2520Gradient%2520Image%2520(1)-p-800.png  800w,
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%20Gradient%20Image%20(1).png             1930w
                  '
            alt=''
            class='yellow-gradient-image'
          />
        </div>
        <div class='green-gradient-div home-feature-1-gradient'>
          <img
            src='../../assets/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%20Oval%20Gradient%20(2).png'
            loading='lazy'
            sizes='(max-width: 767px) 90vw, 600px'
            srcset='
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-500.png   500w,
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-800.png   800w,
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-1080.png 1080w,
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%20Oval%20Gradient%20(2).png              2472w
                  '
            alt=''
            class='green-gradient-image'
          />
        </div>
        <div class='blue-gradient-div home-feature-1-gradient'>
          <img
            src='../../assets/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%20Oval%20Gradient%20(2).png'
            loading='lazy'
            sizes='(max-width: 767px) 90vw, 600px'
            srcset='
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%2520Oval%2520Gradient%2520(2)-p-500.png  500w,
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%2520Oval%2520Gradient%2520(2)-p-800.png  800w,
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%20Oval%20Gradient%20(2).png             1974w
                  '
            alt=''
            class='blue-gradient-image'
          />
        </div>
      </div>
    </div>
  </div>

  <div
    data-w-id='f9985045-159a-4410-db6b-9b39f4d79d59'
    style='opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;'
    class='home-2-customer-section'
  >
    <div class='home-2-cs-gradient-div'>
      <div class='green-gradient-div home-2-cs-green-div'>
        <img
          src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebb10d13eebf4bf1dd46_Ellipse%204%20(1).png'
          loading='lazy'
          sizes='(max-width: 1279px) 100vw, 1048px'
          srcset='https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebb10d13eebf4bf1dd46_Ellipse%204%20(1)-p-500.png 500w, https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebb10d13eebf4bf1dd46_Ellipse%204%20(1)-p-800.png 800w, https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebb10d13eebf4bf1dd46_Ellipse%204%20(1).png 1795w'
          alt=''
          class='green-gradient-image'
        />
      </div><div class='blue-gradient-div home-2-cs-blue-div'>
        <img
          src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebe3acd22a799452aa66_Ellipse%205%20(1).png'
          loading='lazy'
          sizes='(max-width: 991px) 100vw, 790.5px'
          srcset='https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebe3acd22a799452aa66_Ellipse%205%20(1)-p-500.png 500w, https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebe3acd22a799452aa66_Ellipse%205%20(1)-p-800.png 800w, https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebe3acd22a799452aa66_Ellipse%205%20(1).png 1641w'
          alt=''
          class='blue-gradient-image'
        />
      </div>
    </div><div class='wrapper-1160px home-2-customer-flex'>
      <div class='home-2-customer-text-wrapper'>
        <h2 class='h2-heading-56px'>
        
          Une Polyvalence Concrétisée en <span class='boska-variable-text-opacity-70'>Expérience</span>
        </h2>
      </div><div
        data-delay='4000'
        data-animation='slide'
        class='customer-stories-slider w-slider'
        data-autoplay='false'
        data-easing='ease'
        data-hide-arrows='false'
        data-disable-swipe='false'
        data-autoplay-limit='0'
        data-nav-spacing='3'
        data-duration='500'
        data-infinite='true'
        role='region'
        aria-label='carousel'
      >
        <div class='customer-stories-mask w-slider-mask' id='w-slider-mask-0'>
          <div
            class='customer-stories-slide w-slide'
            style='transform: translateX(0px); opacity: 1; transition: transform 500ms ease 0s;'
            aria-label='1 of 4'
            role='group'
          >
            <div class='customer-stories-slide-wrapper'>
              <div class='customer-slide-image-wrapper'>
                <img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62bb205d86616e7de9bbaf83_Mask%20group%20(3).png'
                  loading='lazy'
                  alt=''
                  class='customer-slide-hero-image'
                />
              </div><div class='customer-slide-text-wrapper'>
                <div class='customer-slide-star-container'>
                  <img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                    loading='lazy'
                    alt=''
                    class='home-2-customer-stories-star'
                  /><img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                    loading='lazy'
                    alt=''
                    class='home-2-customer-stories-star'
                  /><img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                    loading='lazy'
                    alt=''
                    class='home-2-customer-stories-star'
                  /><img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                    loading='lazy'
                    alt=''
                    class='home-2-customer-stories-star'
                  /><img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                    loading='lazy'
                    alt=''
                    class='home-2-customer-stories-star'
                  />
                </div><div class='customer-slide-text-24px-70'>
                  “Leverage agile frameworks to provide a robust synopsis for
                  high level overviews. Iterative approaches to corporate
                  strategy foster <span class='customer-slide-text-white-medum'
                    >collaborative thinking to further the overall</span
                  > value proposition."
                </div><div class='customer-slide-bottom-flex'>
                  <div class='customer-slide-author-text-wrap'>
                    <div class='customer-slide-author-text-18px bold-text'>
                      Rudra Ghosh
                    </div><div class='customer-slide-author-text-18px'>
                      Founder &amp; CEO Superflow
                    </div>
                  </div><img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62baf73d19f7eb909b55865f_dulalix.svg'
                    loading='lazy'
                    alt=''
                    class='customer-slide-company-logo'
                  />
                </div>
              </div>
            </div>
          </div><div
            class='customer-stories-slide w-slide'
            style='transform: translateX(0px); opacity: 1; transition: transform 500ms ease 0s;'
            aria-label='2 of 4'
            role='group'
            aria-hidden='true'
          >
            <div class='customer-stories-slide-wrapper' aria-hidden='true'>
              <div class='customer-slide-image-wrapper' aria-hidden='true'>
                <img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62bb205ba12e41ad8697f006_Mask%20group1%20(2).png'
                  loading='lazy'
                  alt=''
                  class='customer-slide-hero-image'
                  aria-hidden='true'
                />
              </div><div class='customer-slide-text-wrapper' aria-hidden='true'>
                <div class='customer-slide-star-container' aria-hidden='true'>
                  <img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                    loading='lazy'
                    alt=''
                    class='home-2-customer-stories-star'
                    aria-hidden='true'
                  /><img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                    loading='lazy'
                    alt=''
                    class='home-2-customer-stories-star'
                    aria-hidden='true'
                  /><img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                    loading='lazy'
                    alt=''
                    class='home-2-customer-stories-star'
                    aria-hidden='true'
                  /><img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                    loading='lazy'
                    alt=''
                    class='home-2-customer-stories-star'
                    aria-hidden='true'
                  /><img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                    loading='lazy'
                    alt=''
                    class='home-2-customer-stories-star'
                    aria-hidden='true'
                  />
                </div><div
                  class='customer-slide-text-24px-70'
                  aria-hidden='true'
                >
                  “Leverage agile frameworks to provide a robust synopsis for
                  high level overviews. Iterative approaches to corporate
                  strategy foster <span
                    class='customer-slide-text-white-medum'
                    aria-hidden='true'
                    >collaborative thinking to further the overall</span
                  > value proposition."
                </div><div
                  class='customer-slide-bottom-flex'
                  aria-hidden='true'
                >
                  <div
                    class='customer-slide-author-text-wrap'
                    aria-hidden='true'
                  >
                    <div
                      class='customer-slide-author-text-18px bold-text'
                      aria-hidden='true'
                    >
                      Rudra Ghosh
                    </div><div
                      class='customer-slide-author-text-18px'
                      aria-hidden='true'
                    >
                      Founder &amp; CEO Superflow
                    </div>
                  </div><img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62baf73d19f7eb909b55865f_dulalix.svg'
                    loading='lazy'
                    alt=''
                    class='customer-slide-company-logo'
                    aria-hidden='true'
                  />
                </div>
              </div>
            </div>
          </div><div
            class='customer-stories-slide w-slide'
            style='transform: translateX(0px); opacity: 1; transition: transform 500ms ease 0s;'
            aria-label='3 of 4'
            role='group'
            aria-hidden='true'
          >
            <div class='customer-stories-slide-wrapper' aria-hidden='true'>
              <div class='customer-slide-image-wrapper' aria-hidden='true'>
                <img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62bb205d86616e7de9bbaf83_Mask%20group%20(3).png'
                  loading='lazy'
                  alt=''
                  class='customer-slide-hero-image'
                  aria-hidden='true'
                />
              </div><div class='customer-slide-text-wrapper' aria-hidden='true'>
                <div class='customer-slide-star-container' aria-hidden='true'>
                  <img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                    loading='lazy'
                    alt=''
                    class='home-2-customer-stories-star'
                    aria-hidden='true'
                  /><img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                    loading='lazy'
                    alt=''
                    class='home-2-customer-stories-star'
                    aria-hidden='true'
                  /><img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                    loading='lazy'
                    alt=''
                    class='home-2-customer-stories-star'
                    aria-hidden='true'
                  /><img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                    loading='lazy'
                    alt=''
                    class='home-2-customer-stories-star'
                    aria-hidden='true'
                  /><img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                    loading='lazy'
                    alt=''
                    class='home-2-customer-stories-star'
                    aria-hidden='true'
                  />
                </div><div
                  class='customer-slide-text-24px-70'
                  aria-hidden='true'
                >
                  “Leverage agile frameworks to provide a robust synopsis for
                  high level overviews. Iterative approaches to corporate
                  strategy foster <span
                    class='customer-slide-text-white-medum'
                    aria-hidden='true'
                    >collaborative thinking to further the overall</span
                  > value proposition."
                </div><div
                  class='customer-slide-bottom-flex'
                  aria-hidden='true'
                >
                  <div
                    class='customer-slide-author-text-wrap'
                    aria-hidden='true'
                  >
                    <div
                      class='customer-slide-author-text-18px bold-text'
                      aria-hidden='true'
                    >
                      Rudra Ghosh
                    </div><div
                      class='customer-slide-author-text-18px'
                      aria-hidden='true'
                    >
                      Founder &amp; CEO Superflow
                    </div>
                  </div><img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62baf73d19f7eb909b55865f_dulalix.svg'
                    loading='lazy'
                    alt=''
                    class='customer-slide-company-logo'
                    aria-hidden='true'
                  />
                </div>
              </div>
            </div>
          </div><div
            class='customer-stories-slide w-slide'
            style='transform: translateX(-3760px); opacity: 1; transition: transform 500ms ease 0s;'
            aria-label='4 of 4'
            role='group'
            aria-hidden='true'
          >
            <div class='customer-stories-slide-wrapper' aria-hidden='true'>
              <div class='customer-slide-image-wrapper' aria-hidden='true'>
                <img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62bb205ba12e41ad8697f006_Mask%20group1%20(2).png'
                  loading='lazy'
                  alt=''
                  class='customer-slide-hero-image'
                  aria-hidden='true'
                />
              </div><div class='customer-slide-text-wrapper' aria-hidden='true'>
                <div class='customer-slide-star-container' aria-hidden='true'>
                  <img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                    loading='lazy'
                    alt=''
                    class='home-2-customer-stories-star'
                    aria-hidden='true'
                  /><img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                    loading='lazy'
                    alt=''
                    class='home-2-customer-stories-star'
                    aria-hidden='true'
                  /><img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                    loading='lazy'
                    alt=''
                    class='home-2-customer-stories-star'
                    aria-hidden='true'
                  /><img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                    loading='lazy'
                    alt=''
                    class='home-2-customer-stories-star'
                    aria-hidden='true'
                  /><img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                    loading='lazy'
                    alt=''
                    class='home-2-customer-stories-star'
                    aria-hidden='true'
                  />
                </div><div
                  class='customer-slide-text-24px-70'
                  aria-hidden='true'
                >
                  “Leverage agile frameworks to provide a robust synopsis for
                  high level overviews. Iterative approaches to corporate
                  strategy foster <span
                    class='customer-slide-text-white-medum'
                    aria-hidden='true'
                    >collaborative thinking to further the overall</span
                  > value proposition."
                </div><div
                  class='customer-slide-bottom-flex'
                  aria-hidden='true'
                >
                  <div
                    class='customer-slide-author-text-wrap'
                    aria-hidden='true'
                  >
                    <div
                      class='customer-slide-author-text-18px bold-text'
                      aria-hidden='true'
                    >
                      Rudra Ghosh
                    </div><div
                      class='customer-slide-author-text-18px'
                      aria-hidden='true'
                    >
                      Founder &amp; CEO Superflow
                    </div>
                  </div><img
                    src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62baf73d19f7eb909b55865f_dulalix.svg'
                    loading='lazy'
                    alt=''
                    class='customer-slide-company-logo'
                    aria-hidden='true'
                  />
                </div>
              </div>
            </div>
          </div><div
            aria-live='off'
            aria-atomic='true'
            class='w-slider-aria-label'
            data-wf-ignore=''
          >
            Slide 1 of 4.
          </div>
        </div><div
          class='customer-stories-left-arrow w-slider-arrow-left'
          role='button'
          tabindex='0'
          aria-controls='w-slider-mask-0'
          aria-label='previous slide'
        >
          <img
            src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62baf906c5323519b9748043_CaretLeft.svg'
            loading='lazy'
            alt=''
            class='customer-slider-arrow-image'
          />
        </div><div
          class='customer-stories-right-arrow w-slider-arrow-right'
          role='button'
          tabindex='0'
          aria-controls='w-slider-mask-0'
          aria-label='next slide'
        >
          <img
            src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62baf907f8835ff7e1106d61_CaretRight.svg'
            loading='lazy'
            alt=''
            class='customer-slider-arrow-image'
          />
        </div><div class='slide-nav w-slider-nav w-round'>
          <div
            class='w-slider-dot w-active'
            data-wf-ignore=''
            aria-label='Show slide 1 of 4'
            aria-pressed='true'
            role='button'
            tabindex='0'
            style='margin-left: 3px; margin-right: 3px;'
          >
          </div><div
            class='w-slider-dot'
            data-wf-ignore=''
            aria-label='Show slide 2 of 4'
            aria-pressed='false'
            role='button'
            tabindex='-1'
            style='margin-left: 3px; margin-right: 3px;'
          >
          </div><div
            class='w-slider-dot'
            data-wf-ignore=''
            aria-label='Show slide 3 of 4'
            aria-pressed='false'
            role='button'
            tabindex='-1'
            style='margin-left: 3px; margin-right: 3px;'
          >
          </div><div
            class='w-slider-dot'
            data-wf-ignore=''
            aria-label='Show slide 4 of 4'
            aria-pressed='false'
            role='button'
            tabindex='-1'
            style='margin-left: 3px; margin-right: 3px;'
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
