---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<div class='home-2-logo-section'>
  <div class='wrapper-1160px home-2-logo-flex'>
    <div class='home-2-logo-text-wrapper' style="max-width: 640px;!important">
      <div
        class='heading-animation-div'
        style='opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;'
      >
         <div class="heading-animation-div">
              <h2 class="h2-heading-56px margin-bottom-24px">
                Pourquoi <span class="boska-variable-text-italic">Arlibera?</span>
              </h2>
            </div>
            <div class="heading-animation-div">
              <div class="body-1-20px max-width-820px">
              Choisir Arlibera — c’est choisir à se démarquer et à être unique. Notre philosophie repose sur l'innovation et la créativité, garantissant des résultats haute gamme pour nos clients.
              </div>
            </div>
      </div>
    </div><div class='w-layout-grid home-2-logo-grid'>
      <div
        class='home-2-logo-item'
        style='opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;'
      >
        <img
          src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62b9a0dc2607ee9d0b6ac29f_logo%201.svg'
          loading='lazy'
          alt=''
          class='home-2-logo-item-image'
        />
      </div><div
        class='home-2-logo-item'
        style='opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;'
      >
        <img
          src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62b9a0dcf3be97d8ec42ec25_logo%202.svg'
          loading='lazy'
          alt=''
          class='home-2-logo-item-image'
        />
      </div><div
        class='home-2-logo-item'
        style='opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;'
      >
        <img
          src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62b9a0dcb996b11e55298f82_logo%203.svg'
          loading='lazy'
          alt=''
          class='home-2-logo-item-image'
        />
      </div><div
        class='home-2-logo-item'
        style='opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;'
      >
        <img
          src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62b9a0db26296e02a6a439ec_logo%204.svg'
          loading='lazy'
          alt=''
          class='home-2-logo-item-image'
        />
      </div><div
        class='home-2-logo-item'
        style='opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;'
      >
        <img
          src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62b9a0db8031ccf67040b767_logo%205.svg'
          loading='lazy'
          alt=''
          class='home-2-logo-item-image'
        />
      </div><div
        class='home-2-logo-item'
        style='opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;'
      >
        <img
          src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62b9a0dcb919e865deb76fd8_logo%206.svg'
          loading='lazy'
          alt=''
          class='home-2-logo-item-image'
        />
      </div>
    </div>
  </div>
</div>
