      <div data-w-id="54e3323c-3f79-a0d0-35df-52894e086340" class="cta-section">
        <div class="wrapper-1160px cta-flex">
          <div class="cta-gradient-div-container">
            <div class="green-gradient-div cta-gradient-div">
              <img
                src="../../assets/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%20Oval%20Gradient%20(2).png"
                loading="lazy"
                sizes="281px"
                srcset="
                  https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-500.png   500w,
                  https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-800.png   800w,
                  https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-1080.png 1080w,
                  https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%20Oval%20Gradient%20(2).png              2472w
                "
                alt=""
                class="green-gradient-image"
              />
            </div>
            <div class="blue-gradient-div cta-gradient-div">
              <img
                src="../../assets/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%20Oval%20Gradient%20(2).png"
                loading="lazy"
                sizes="281px"
                srcset="
                  https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%2520Oval%2520Gradient%2520(2)-p-500.png  500w,
                  https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%2520Oval%2520Gradient%2520(2)-p-800.png  800w,
                  https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%20Oval%20Gradient%20(2).png             1974w
                "
                alt=""
                class="blue-gradient-image"
              />
            </div>
          </div>
          <img
            src="../../assets/6259e59720a6347d57a4fe10/6259e59720a63477b1a4fe7f_Vector%2097.png"
            loading="lazy"
            alt=""
            class="cta-vector-image"
          />
          <div class="cta-upper-container">
            <h2 class="cta-h2-hero-heading">
              Get early access to Milestone.
              <span class="boska-variable-text-opacity-70"
                >Close your books faster and grow.</span
              >
            </h2>
            <div class="cta-button-company-container">
              <div class="button-wrpper">
                <a
                  href="https://webflow.com/"
                  target="_blank"
                  class="button-large---yellow-king w-inline-block"
                  ><div>Try it on browser</div>
                  <img
                    src="../../assets/6259e59720a6347d57a4fe10/6259e59720a634856aa4fe6d_ArrowUpRight%20Black.svg"
                    loading="lazy"
                    alt=""
                    class="arrow-upright-icon"
                /></a>
              </div>
              <div class="cta-company-holder">
                <div class="cta-company-parent-container">
                  <div class="cta-company-logo-container">
                    <div class="cta-company-logo-wrapper">
                      <img
                        src="../../assets/6259e59720a6347d57a4fe10/6259e59720a634805ea4fe72_apple.svg"
                        loading="lazy"
                        alt=""
                        class="cta-company-logo-image"
                      />
                      <div class="cta-company-small-text">macOS,</div>
                    </div>
                    <div class="cta-company-logo-wrapper">
                      <img
                        src="../../assets/6259e59720a6347d57a4fe10/6259e59720a63439ffa4fe71_microsoft.svg"
                        loading="lazy"
                        alt=""
                        class="cta-company-logo-image"
                      />
                      <div class="cta-company-small-text">WINDOWS,</div>
                    </div>
                    <div class="cta-company-logo-wrapper">
                      <img
                        src="../../assets/6259e59720a6347d57a4fe10/6259e59720a63454afa4fe75_linux.svg"
                        loading="lazy"
                        alt=""
                        class="cta-company-logo-image"
                      />
                      <div class="cta-company-small-text">LINUX</div>
                    </div>
                  </div>
                </div>
                <div class="cta-company-spacer"></div>
                <div class="cta-company-parent-container">
                  <div class="cta-company-logo-container">
                    <div class="cta-company-logo-wrapper">
                      <img
                        src="../../assets/6259e59720a6347d57a4fe10/6259e59720a63453b4a4fe70_chrome.svg"
                        loading="lazy"
                        alt=""
                        class="cta-company-logo-image"
                      />
                      <div class="cta-company-small-text">CHROME,</div>
                    </div>
                    <div class="cta-company-logo-wrapper">
                      <img
                        src="../../assets/6259e59720a6347d57a4fe10/6259e59720a63410aaa4fe74_safari.svg"
                        loading="lazy"
                        alt=""
                        class="cta-company-logo-image"
                      />
                      <div class="cta-company-small-text">SAFARI,</div>
                    </div>
                    <div class="cta-company-logo-wrapper">
                      <img
                        src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6349320a4fe73_firefox.svg"
                        loading="lazy"
                        alt=""
                        class="cta-company-logo-image"
                      />
                      <div class="cta-company-small-text">&amp; FIREFOX</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cta-bottom-container">
            <div class="cta-container-1">
              <div class="cta-feature-train-wrapper">
                <img
                  src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6340124a4fe6f_CheckCircle.svg"
                  loading="lazy"
                  alt=""
                  class="check-circle-icon"
                />
                <div>Fraud protection, zero liability.</div>
              </div>
              <div class="cta-feature-train-wrapper">
                <img
                  src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6340124a4fe6f_CheckCircle.svg"
                  loading="lazy"
                  alt=""
                  class="check-circle-icon"
                />
                <div>Fraud protection, zero liability.</div>
              </div>
              <div class="cta-feature-train-wrapper">
                <img
                  src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6340124a4fe6f_CheckCircle.svg"
                  loading="lazy"
                  alt=""
                  class="check-circle-icon"
                />
                <div>No personal guarantee</div>
              </div>
              <div class="cta-feature-train-wrapper">
                <img
                  src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6340124a4fe6f_CheckCircle.svg"
                  loading="lazy"
                  alt=""
                  class="check-circle-icon"
                />
                <div>Cards for your whole team.</div>
              </div>
              <div class="cta-feature-train-wrapper">
                <img
                  src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6340124a4fe6f_CheckCircle.svg"
                  loading="lazy"
                  alt=""
                  class="check-circle-icon"
                />
                <div>Cards for your whole team.</div>
              </div>
            </div>
            <div class="cta-container-2">
              <div class="cta-feature-train-wrapper">
                <img
                  src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6340124a4fe6f_CheckCircle.svg"
                  loading="lazy"
                  alt=""
                  class="check-circle-icon"
                />
                <div>Fraud protection, zero liability.</div>
              </div>
              <div class="cta-feature-train-wrapper">
                <img
                  src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6340124a4fe6f_CheckCircle.svg"
                  loading="lazy"
                  alt=""
                  class="check-circle-icon"
                />
                <div>Fraud protection, zero liability.</div>
              </div>
              <div class="cta-feature-train-wrapper">
                <img
                  src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6340124a4fe6f_CheckCircle.svg"
                  loading="lazy"
                  alt=""
                  class="check-circle-icon"
                />
                <div>No personal guarantee</div>
              </div>
              <div class="cta-feature-train-wrapper">
                <img
                  src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6340124a4fe6f_CheckCircle.svg"
                  loading="lazy"
                  alt=""
                  class="check-circle-icon"
                />
                <div>Cards for your whole team.</div>
              </div>
              <div class="cta-feature-train-wrapper">
                <img
                  src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6340124a4fe6f_CheckCircle.svg"
                  loading="lazy"
                  alt=""
                  class="check-circle-icon"
                />
                <div>Cards for your whole team.</div>
              </div>
            </div>
            <div class="cta-container-3">
              <div class="cta-feature-train-wrapper">
                <img
                  src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6340124a4fe6f_CheckCircle.svg"
                  loading="lazy"
                  alt=""
                  class="check-circle-icon"
                />
                <div>Fraud protection, zero liability.</div>
              </div>
              <div class="cta-feature-train-wrapper">
                <img
                  src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6340124a4fe6f_CheckCircle.svg"
                  loading="lazy"
                  alt=""
                  class="check-circle-icon"
                />
                <div>Fraud protection, zero liability.</div>
              </div>
              <div class="cta-feature-train-wrapper">
                <img
                  src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6340124a4fe6f_CheckCircle.svg"
                  loading="lazy"
                  alt=""
                  class="check-circle-icon"
                />
                <div>No personal guarantee</div>
              </div>
              <div class="cta-feature-train-wrapper">
                <img
                  src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6340124a4fe6f_CheckCircle.svg"
                  loading="lazy"
                  alt=""
                  class="check-circle-icon"
                />
                <div>Cards for your whole team.</div>
              </div>
              <div class="cta-feature-train-wrapper">
                <img
                  src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6340124a4fe6f_CheckCircle.svg"
                  loading="lazy"
                  alt=""
                  class="check-circle-icon"
                />
                <div>Cards for your whole team.</div>
              </div>
            </div>
          </div>
        </div>
      </div>