---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---
  <div class="wrapper-1160px growth-flex">
          <div class="growth-container">
            <div class="w-layout-grid growth-grid">
              <div
                id="w-node-_2bc72328-3cb0-a29c-7a43-ed7a98a95b30-98a95b27"
                class="growth-wrapper large"
              >
                <div class="growth-h2-heading-56px">
                  Accounting software
                  <span class="boska-variable-text-opacity-70"
                    >that handles it all.</span
                  >
                </div>
                <a
                  data-w-id="2bc72328-3cb0-a29c-7a43-ed7a98a95b35"
                  href="../features.html"
                  class="button-large---yellow-king margin-top-40px w-inline-block"
                  ><div>See all Features</div>
                  <img
                    src="../../assets/6259e59720a6347d57a4fe10/6259e59720a634856aa4fe6d_ArrowUpRight%20Black.svg"
                    loading="lazy"
                    alt=""
                    class="arrow-upright-icon"
                /></a>
              </div>
              <div class="growth-wrapper">
                <img
                  src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6340672a4fe6c_image%2040.png"
                  loading="lazy"
                  alt=""
                  class="growth-hero-image"
                />
                <div class="growth-heading-32px">Easy Invoicing</div>
                <div class="growth-para-text-18px">
                  Automate recurring invoices and save time by using pre-built
                  templates. Get paid on time.
                </div>
              </div>
              <div class="growth-wrapper">
                <img
                  src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6342009a4fec0_image%2041.png"
                  loading="lazy"
                  alt=""
                  class="growth-hero-image"
                />
                <div class="growth-heading-32px">Manage expenses</div>
                <div class="growth-para-text-18px">
                  Snap and categorize receipts in seconds and link your bank
                  account.
                </div>
              </div>
              <div class="growth-wrapper">
                <img
                  src="../../assets/6259e59720a6347d57a4fe10/6259e59720a634516aa4fec1_image%2039.png"
                  loading="lazy"
                  alt=""
                  class="growth-hero-image"
                />
                <div class="growth-heading-32px">Streamline payroll</div>
                <div class="growth-para-text-18px">
                  Set up payroll and bonuses for all your employees, and never
                  be late on salaries.
                </div>
              </div>
              <div class="growth-wrapper">
                <img
                  src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6341c74a4fec2_image%2042.png"
                  loading="lazy"
                  alt=""
                  class="growth-hero-image"
                />
                <div class="growth-heading-32px">Complete Visibility</div>
                <div class="growth-para-text-18px">
                  Get real-time visibility into every expense and payment, with
                  a neat dashboard.
                </div>
              </div>
            </div>
          </div>
        </div>