---
const today = new Date();
---

<footer>
 
	 <div class="footer-section">
        <div class="wrapper-1160px footer-flex">
          <div class="footer-left-wrapper">
            <a
              href="home-1.html"
              aria-current="page"
              class="brand-link-block w-inline-block w--current"
              ><img
                src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6340b55a4fe68_Group%2022.svg"
                loading="lazy"
                alt=""
            /></a>
            <div class="body-2---18px margin-top-27px">
              Faster payments, Expense reports done right. Budgeting made easy.
            </div>
          </div>
          <div class="footer-right-wrapper">
            <div class="footer-bold-text-14px">Subscribe to our newsletter</div>
            <div class="footer-form-block-container">
              <div class="text-block-16px">
                *Only valuable resource no bullshit
              </div>
              <div class="footer-form-block w-form">
                <form
                  id="email-form-2"
                  name="email-form-2"
                  data-name="Email Form 2"
                  method="get"
                  class="footer-form"
                  data-wf-page-id="6259e59720a6345c92a4fe13"
                  data-wf-element-id="36276abc-061c-6504-bf4b-53a2eb23827f"
                >
                  <input
                    type="email"
                    class="footer-text-field w-input"
                    maxlength="256"
                    name="Contact-Email-2"
                    data-name="Contact Email 2"
                    placeholder="Enter your e-mail"
                    id="Contact-Email-2"
                    required=""
                  /><input
                    type="submit"
                    value=""
                    data-wait=""
                    class="contact-form-submit-button w-button"
                  />
                </form>
                <div class="contact-success-message w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="contact-error-message w-form-fail">
                  <div>
                    Oops! Something went wrong while submitting the form.
                  </div>
                </div>
              </div>
            </div>
            <div class="social-media-bottom-container">
              <div class="footer-bold-text-14px">Social Media</div>
              <div class="social-media-container">
                <a
                  href="https://www.facebook.com/"
                  target="_blank"
                  class="social-media-wrapper w-inline-block"
                  ><img
                    src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6341e4ea4fe7b_Facebook.svg"
                    loading="lazy"
                    alt=""
                    class="social-media-icon" /></a
                ><a
                  href="https://www.twitter.com/"
                  target="_blank"
                  class="social-media-wrapper w-inline-block"
                  ><img
                    src="../../assets/6259e59720a6347d57a4fe10/6259e59720a63484bba4fe7d_Twitter.svg"
                    loading="lazy"
                    alt=""
                    class="social-media-icon" /></a
                ><a
                  href="https://www.linkedin.com/"
                  target="_blank"
                  class="social-media-wrapper w-inline-block"
                  ><img
                    src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6340adba4fe7c_Linkedin.svg"
                    loading="lazy"
                    alt=""
                    class="social-media-icon" /></a
                ><a
                  href="https://www.instagram.com/"
                  target="_blank"
                  class="social-media-wrapper w-inline-block"
                  ><img
                    src="../../assets/6259e59720a6347d57a4fe10/6259e59720a634756fa4fe7e_Instagram.svg"
                    loading="lazy"
                    alt=""
                    class="social-media-icon"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-center-wrapper">
          <div class="w-layout-grid footer-center-grid">
            <div class="footer-links-wrapper">
              <div class="footer-bold-text-14px">Pages</div>
              <div class="w-layout-grid footer-sub-grid">
                <a
                  href="home-1.html"
                  aria-current="page"
                  class="footer-text-link-16px w--current"
                  >Homepage 1</a
                ><a href="home-2.html" class="footer-text-link-16px"
                  >Homepage 2</a
                ><a href="home-3.html" class="footer-text-link-16px"
                  >Homepage 3</a
                ><a
                  href="../about-pages/about-1.html"
                  class="footer-text-link-16px"
                  >About Us 1</a
                ><a
                  href="../about-pages/about-2.html"
                  class="footer-text-link-16px"
                  >About Us 2</a
                ><a
                  href="../about-pages/about-3.html"
                  class="footer-text-link-16px"
                  >About Us 3</a
                ><a
                  href="../pricing-pages/pricing-1.html"
                  class="footer-text-link-16px"
                  >Pricing Page 1</a
                ><a
                  href="../pricing-pages/pricing-2.html"
                  class="footer-text-link-16px"
                  >Pricing Page 2</a
                ><a
                  href="../pricing-pages/pricing-3.html"
                  class="footer-text-link-16px"
                  >Pricing Page 3</a
                ><a
                  href="../pricing-pages/pricing-ecommerce.html"
                  class="footer-text-link-16px"
                  >Pricing Ecommerce</a
                >
              </div>
            </div>
            <div class="footer-links-wrapper">
              <div class="footer-bold-text-14px">Pages</div>
              <div class="w-layout-grid footer-sub-grid">
                <a href="../features.html" class="footer-text-link-16px"
                  >Features</a
                ><a href="../integration.html" class="footer-text-link-16px"
                  >Integration</a
                ><a href="../blog.html" class="footer-text-link-16px">Blog</a
                ><a href="../contact.html" class="footer-text-link-16px"
                  >Contact</a
                ><a href="../demo.html" class="footer-text-link-16px">Demo</a
                ><a href="../download.html" class="footer-text-link-16px"
                  >Download</a
                ><a
                  href="../customer-stories.html"
                  class="footer-text-link-16px"
                  >Customer Stories</a
                ><a href="../career.html" class="footer-text-link-16px"
                  >Career</a
                ><a href="../login.html" class="footer-text-link-16px">Login</a
                ><a href="../register.html" class="footer-text-link-16px"
                  >Register</a
                >
              </div>
            </div>
            <div class="footer-links-wrapper">
              <div class="footer-bold-text-14px">Utility pages</div>
              <div class="w-layout-grid footer-sub-grid">
                <a
                  href="../reference-pages/style-guide.html"
                  class="footer-text-link-16px"
                  >Style Guide</a
                ><a
                  href="../reference-pages/licensing.html"
                  class="footer-text-link-16px"
                  >Licenses</a
                ><a
                  href="../reference-pages/changelog.html"
                  class="footer-text-link-16px"
                  >Changelog</a
                ><a
                  href="../reference-pages/instructions.html"
                  class="footer-text-link-16px"
                  >Instructions</a
                ><a
                  href="https://milestone-webflow-template.webflow.io/404"
                  class="footer-text-link-16px"
                  >404 Not Found</a
                ><a href="../401.html" class="footer-text-link-16px"
                  >Password Page</a
                ><a
                  href="https://milestone-uikit-webflow-template.webflow.io/integrations/dropbox"
                  class="footer-text-link-16px"
                  >Integration Details</a
                ><a
                  href="https://milestone-uikit-webflow-template.webflow.io/post/the-worst-advice-weve-ever-heard-about-web-design"
                  class="footer-text-link-16px"
                  >Blog Details</a
                ><a
                  href="https://milestone-uikit-webflow-template.webflow.io/customer-stories/everything-you-need-to-know-about-web-design"
                  class="footer-text-link-16px"
                  >Customer Stories Details</a
                ><a
                  href="https://milestone-uikit-webflow-template.webflow.io/job-post/back-end-engineer"
                  class="footer-text-link-16px"
                  >Job Post Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="footer-banner">
          <div class="copyright-text">
           {today.getFullYear()} © All rights reserved.
             Powered by
            <a href="http://www.webflow.com/" target="_blank" class="cf-links"
              >Arlibera</a
            >.
          </div>
        </div>
      </div>
</footer>
 