---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';

const {title} = Astro.props;
---

<div class='home-2-feature-section'>
  <div class='wrapper-1240px home-2-feature-flex'>
    <div class='home-2-feature-upper-container'>
      <div class='home-2-feature-text-container'>
        <div class='heading-animation-div'>
          <img
            src='../../assets/6259e59720a6347d57a4fe10/62b9a791fa86142576d856cc_Group%20892.svg'
            loading='lazy'
            alt=''
            class='home-2-feature-icon'
          />
        </div>
        <div class='heading-animation-div'>
          <h1 class='h1-heading-56px margin-bottom-24px '>
             Service de
            <span class='boska-variable-text-italic'>{title}</span>
          
          </h1>


          
        </div>
        <div class='heading-animation-div'>
          <div class='body-1-20px'>
            Centralize and simplify payments, and get comprehensive insights on
            your financials. Connect your bank account and your card to
            Milestone.
          </div>
        </div>
        
      </div>
      <div class='home-feature-2-image-container'>
        <div class='image-animation-div'>
          <img
            src='../../assets/6259e59720a6347d57a4fe10/6259e59720a6341225a4ff01_Group%20491%20(1).png'
            loading='lazy'
            sizes='(max-width: 767px) 90vw, (max-width: 991px) 73vw, (max-width: 1439px) 43vw, 560px'
            srcset='
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6341225a4ff01_Group%2520491%2520(1)-p-500.png  500w,
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6341225a4ff01_Group%20491%20(1).png           1120w
                  '
            alt=''
            class='home-feature-hero-image'
          />
        </div>
      </div>
      <div class='home-feature-2-gradient-div'>
        <div class='yellow-gradient-div home-feature-1-gradient'>
          <img
            src='../../assets/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%20Gradient%20Image%20(1).png'
            loading='lazy'
            sizes='(max-width: 767px) 90vw, 600px'
            srcset='
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%2520Gradient%2520Image%2520(1)-p-500.png  500w,
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%2520Gradient%2520Image%2520(1)-p-800.png  800w,
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%20Gradient%20Image%20(1).png             1930w
                  '
            alt=''
            class='yellow-gradient-image'
          />
        </div>
        <div class='green-gradient-div home-feature-1-gradient'>
          <img
            src='../../assets/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%20Oval%20Gradient%20(2).png'
            loading='lazy'
            sizes='(max-width: 767px) 90vw, 600px'
            srcset='
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-500.png   500w,
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-800.png   800w,
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-1080.png 1080w,
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%20Oval%20Gradient%20(2).png              2472w
                  '
            alt=''
            class='green-gradient-image'
          />
        </div>
        <div class='blue-gradient-div home-feature-1-gradient'>
          <img
            src='../../assets/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%20Oval%20Gradient%20(2).png'
            loading='lazy'
            sizes='(max-width: 767px) 90vw, 600px'
            srcset='
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%2520Oval%2520Gradient%2520(2)-p-500.png  500w,
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%2520Oval%2520Gradient%2520(2)-p-800.png  800w,
                    https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%20Oval%20Gradient%20(2).png             1974w
                  '
            alt=''
            class='blue-gradient-image'
          />
        </div>
      </div>
    </div>
  </div>

  <div
    data-w-id='f9985045-159a-4410-db6b-9b39f4d79d59'
    style='opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;'
    class='home-2-customer-section'
  >
    <div class='home-2-cs-gradient-div'>
      <div class='green-gradient-div home-2-cs-green-div'>
        <img
          src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebb10d13eebf4bf1dd46_Ellipse%204%20(1).png'
          loading='lazy'
          sizes='(max-width: 1279px) 100vw, 1048px'
          srcset='https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebb10d13eebf4bf1dd46_Ellipse%204%20(1)-p-500.png 500w, https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebb10d13eebf4bf1dd46_Ellipse%204%20(1)-p-800.png 800w, https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebb10d13eebf4bf1dd46_Ellipse%204%20(1).png 1795w'
          alt=''
          class='green-gradient-image'
        />
      </div><div class='blue-gradient-div home-2-cs-blue-div'>
        <img
          src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebe3acd22a799452aa66_Ellipse%205%20(1).png'
          loading='lazy'
          sizes='(max-width: 991px) 100vw, 790.5px'
          srcset='https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebe3acd22a799452aa66_Ellipse%205%20(1)-p-500.png 500w, https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebe3acd22a799452aa66_Ellipse%205%20(1)-p-800.png 800w, https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebe3acd22a799452aa66_Ellipse%205%20(1).png 1641w'
          alt=''
          class='blue-gradient-image'
        />
      </div>
    </div> 
  </div>
</div>