---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header style="position: sticky;
    top: 0; z-index:20; ">
	<nav>
		<h2></h2>
	  
      <div
        data-animation="default"
        data-collapse="medium"
        data-duration="400"
        data-easing="ease"
        data-easing2="ease"
        role="banner"
        class="black-navbar w-nav"
      >
        <div class="wrapper-1160px navbar-black-flex" style="height: 60px;
    padding: 0 !important;
    box-shadow: 0px 4px 22px rgb(116 130 151 / 14%);

    top: 25px;

    display: -ms-flexbox;

    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-pack: center;

    -ms-flex-pack: center;
    justify-content: revert-layer;

    -ms-flex-align: center;

    border-radius: 12px;

    background-color: #ffffff;
    color: rgba(18, 23, 34, 0.5);
    font-size: 14px;
    line-height: 145%;
    font-weight: 500;">
          <a
            href="home-1.html"
            aria-current="page"
            class="brand-link-block w-nav-brand w--current"
            style="margin-left:20px"
            ><img
              src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6340b55a4fe68_Group%2022.svg"
              loading="lazy"
              alt={SITE_TITLE}
              class="milestone-logo"
          /></a>
          <nav role="navigation" class="nav-menu w-nav-menu">
         
            <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div>Services</div>
                <div class="icon w-icon-dropdown-toggle"></div>
              </div>
              <nav class="dropdown-list w-dropdown-list">
                <div class="dropdown-list-full-wrapper">
                  <div class="navigation-drop-container features">
                    <div class="visual-features-items-container nav">
                      <a
                        href="../pricing-pages/pricing-1.html"
                        class="visual-features-item navbar w-inline-block"
                        ><h6 class="visual-features-item-heading">Design</h6>
                        <div>
                          Webex integrates seamlessly into 100+industry-leading
                          apps.
                        </div>
                        <div class="visual-features-item-image">
                          <img
                            src="../../assets/6259e59720a6347d57a4fe10/62d52153d132beadee71b5d7_Screenshot%204%20(1).png"
                            loading="eager"
                            sizes="100vw"
                            srcset="
                              https://assets.website-files.com/6259e59720a6347d57a4fe10/62d52153d132beadee71b5d7_Screenshot%204%20(1)-p-500.png   500w,
                              https://assets.website-files.com/6259e59720a6347d57a4fe10/62d52153d132beadee71b5d7_Screenshot%204%20(1)-p-800.png   800w,
                              https://assets.website-files.com/6259e59720a6347d57a4fe10/62d52153d132beadee71b5d7_Screenshot%204%20(1)-p-1080.png 1080w,
                              https://assets.website-files.com/6259e59720a6347d57a4fe10/62d52153d132beadee71b5d7_Screenshot%204%20(1).png        1897w
                            "
                            alt=""
                            class="dropdown-image"
                          /></div></a
                      ><a
                        href="../pricing-pages/pricing-2.html"
                        class="visual-features-item navbar w-inline-block"
                        ><h6 class="visual-features-item-heading">Développement</h6>
                        <div>
                          Webex integrates seamlessly into 100+industry-leading
                          apps.
                        </div>
                        <div class="visual-features-item-image">
                          <img
                            src="../../assets/6259e59720a6347d57a4fe10/62d521cc0e07ab075be989a1_Screenshot%205%20(1).png"
                            loading="eager"
                            sizes="100vw"
                            srcset="
                              https://assets.website-files.com/6259e59720a6347d57a4fe10/62d521cc0e07ab075be989a1_Screenshot%205%20(1)-p-500.png   500w,
                              https://assets.website-files.com/6259e59720a6347d57a4fe10/62d521cc0e07ab075be989a1_Screenshot%205%20(1)-p-800.png   800w,
                              https://assets.website-files.com/6259e59720a6347d57a4fe10/62d521cc0e07ab075be989a1_Screenshot%205%20(1)-p-1080.png 1080w,
                              https://assets.website-files.com/6259e59720a6347d57a4fe10/62d521cc0e07ab075be989a1_Screenshot%205%20(1).png        1897w
                            "
                            alt=""
                            class="dropdown-image"
                          /></div></a
                      ><a
                        href="../pricing-pages/pricing-3.html"
                        class="visual-features-item navbar w-inline-block"
                        ><h6 class="visual-features-item-heading">Marketing</h6>
                        <div>
                          Webex integrates seamlessly into 100+industry-leading
                          apps.
                        </div>
                        <div class="visual-features-item-image">
                          <img
                            src="../../assets/6259e59720a6347d57a4fe10/62d52234fd4c714492e9daf2_Screenshot%206%20(1).png"
                            loading="eager"
                            sizes="100vw"
                            srcset="
                              https://assets.website-files.com/6259e59720a6347d57a4fe10/62d52234fd4c714492e9daf2_Screenshot%206%20(1)-p-500.png   500w,
                              https://assets.website-files.com/6259e59720a6347d57a4fe10/62d52234fd4c714492e9daf2_Screenshot%206%20(1)-p-800.png   800w,
                              https://assets.website-files.com/6259e59720a6347d57a4fe10/62d52234fd4c714492e9daf2_Screenshot%206%20(1)-p-1080.png 1080w,
                              https://assets.website-files.com/6259e59720a6347d57a4fe10/62d52234fd4c714492e9daf2_Screenshot%206%20(1).png        1897w
                            "
                            alt=""
                            class="dropdown-image"
                          /></div
                      ></a>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
            <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div>Secteurs</div>
                <div class="icon w-icon-dropdown-toggle"></div>
              </div>
                  <nav class="dropdown-list w-dropdown-list">
                <div class="dropdown-list-full-wrapper-2">
                  <div class="navigation-drop-container features pages">
                    <div class="visual-features-items-container nav pages">
                      <a
                        href="../integration.html"
                        class="visual-features-item navbar horizontal w-inline-block"
                        ><div class="nav-icon-contain">
                          <img
                            src="../../assets/6259e59720a6347d57a4fe10/62d501063504f12c4a2914d7_Plugs.svg"
                            loading="eager"
                            alt=""
                            class="nav-icon"
                          />
                        </div>
                        <div class="heading-and-text-contain">
                          <h6 class="visual-features-item-heading _18px">
                            Integrations
                          </h6>
                          <div>We integrate seamlessly into.</div>
                        </div></a
                      ><a
                        href="../customer-stories.html"
                        class="visual-features-item navbar horizontal w-inline-block"
                        ><div class="nav-icon-contain">
                          <img
                            src="../../assets/6259e59720a6347d57a4fe10/62d501063504f14e672914d5_Crown.svg"
                            loading="eager"
                            alt=""
                            class="nav-icon"
                          />
                        </div>
                        <div class="heading-and-text-contain">
                          <h6 class="visual-features-item-heading _18px">
                            Customer Stories
                          </h6>
                          <div>We integrate seamlessly into.</div>
                        </div></a
                      ><a
                        href="../career.html"
                        data-w-id="37010fbd-a4dd-6e5e-e5a1-083a98a0be74"
                        class="visual-features-item navbar horizontal w-inline-block"
                        ><div class="nav-icon-contain">
                          <img
                            src="../../assets/6259e59720a6347d57a4fe10/62d501063504f172782914d8_Briefcase.svg"
                            loading="eager"
                            alt=""
                            class="nav-icon"
                          />
                        </div>
                        <div class="heading-and-text-contain">
                          <h6 class="visual-features-item-heading _18px">
                            Careers
                          </h6>
                          <div>We integrate seamlessly into.</div>
                        </div></a
                      ><a
                        href="../blog.html"
                        data-w-id="37010fbd-a4dd-6e5e-e5a1-083a98a0be7c"
                        class="visual-features-item navbar horizontal w-inline-block"
                        ><div class="nav-icon-contain">
                          <img
                            src="../../assets/6259e59720a6347d57a4fe10/62d501063504f1610f2914d6_Star.svg"
                            loading="eager"
                            alt=""
                            class="nav-icon"
                          />
                        </div>
                        <div class="heading-and-text-contain">
                          <h6 class="visual-features-item-heading _18px">
                            Blogs
                          </h6>
                          <div>We integrate seamlessly into.</div>
                        </div></a
                      >
                    </div>
                  </div>
                </div>
              </nav>
            </div>
            <div data-hover="false" data-delay="0" class="dropdown w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div>Projets</div>
                <!-- <div class="icon w-icon-dropdown-toggle"></div> -->
              </div>
              <nav class="dropdown-list w-dropdown-list">
                <div class="dropdown-list-full-wrapper-2">
                  <div class="navigation-drop-container features pages">
                    <div class="visual-features-items-container nav pages">
                      <a
                        href="../integration.html"
                        class="visual-features-item navbar horizontal w-inline-block"
                        ><div class="nav-icon-contain">
                          <img
                            src="../../assets/6259e59720a6347d57a4fe10/62d501063504f12c4a2914d7_Plugs.svg"
                            loading="eager"
                            alt=""
                            class="nav-icon"
                          />
                        </div>
                        <div class="heading-and-text-contain">
                          <h6 class="visual-features-item-heading _18px">
                            Integrations
                          </h6>
                          <div>We integrate seamlessly into.</div>
                        </div></a
                      ><a
                        href="../customer-stories.html"
                        class="visual-features-item navbar horizontal w-inline-block"
                        ><div class="nav-icon-contain">
                          <img
                            src="../../assets/6259e59720a6347d57a4fe10/62d501063504f14e672914d5_Crown.svg"
                            loading="eager"
                            alt=""
                            class="nav-icon"
                          />
                        </div>
                        <div class="heading-and-text-contain">
                          <h6 class="visual-features-item-heading _18px">
                            Customer Stories
                          </h6>
                          <div>We integrate seamlessly into.</div>
                        </div></a
                      ><a
                        href="../career.html"
                        data-w-id="37010fbd-a4dd-6e5e-e5a1-083a98a0be74"
                        class="visual-features-item navbar horizontal w-inline-block"
                        ><div class="nav-icon-contain">
                          <img
                            src="../../assets/6259e59720a6347d57a4fe10/62d501063504f172782914d8_Briefcase.svg"
                            loading="eager"
                            alt=""
                            class="nav-icon"
                          />
                        </div>
                        <div class="heading-and-text-contain">
                          <h6 class="visual-features-item-heading _18px">
                            Careers
                          </h6>
                          <div>We integrate seamlessly into.</div>
                        </div></a
                      ><a
                        href="../blog.html"
                        data-w-id="37010fbd-a4dd-6e5e-e5a1-083a98a0be7c"
                        class="visual-features-item navbar horizontal w-inline-block"
                        ><div class="nav-icon-contain">
                          <img
                            src="../../assets/6259e59720a6347d57a4fe10/62d501063504f1610f2914d6_Star.svg"
                            loading="eager"
                            alt=""
                            class="nav-icon"
                          />
                        </div>
                        <div class="heading-and-text-contain">
                          <h6 class="visual-features-item-heading _18px">
                            Blogs
                          </h6>
                          <div>We integrate seamlessly into.</div>
                        </div></a
                      >
                    </div>
                  </div>
                </div>
              </nav>
            </div>
            <div data-hover="false" data-delay="0" class="dropdown w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div>Ressources</div>
              
              </div>
             
            </div>
          </nav>
          <div class="navbar-button-wrapper" style="margin-right:20px">
            
           <a href="../register.html" class="button-small hide w-inline-block" style="padding: 6px 20px;"
              ><div>Contact</div></a
            >
          </div>
          <div class="menu-button w-nav-button">
            <div class="w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
	</nav>
</header>

 
