---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<div
  data-w-id=''
  style='opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;'
  class='home-2-customer-section'
>
  <div class='home-2-cs-gradient-div'>
    <div class='green-gradient-div home-2-cs-green-div'>
      <img
        src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebb10d13eebf4bf1dd46_Ellipse%204%20(1).png'
        loading='lazy'
        sizes='(max-width: 1279px) 100vw, 1048px'
        srcset='https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebb10d13eebf4bf1dd46_Ellipse%204%20(1)-p-500.png 500w, https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebb10d13eebf4bf1dd46_Ellipse%204%20(1)-p-800.png 800w, https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebb10d13eebf4bf1dd46_Ellipse%204%20(1).png 1795w'
        alt=''
        class='green-gradient-image'
      />
    </div><div class='blue-gradient-div home-2-cs-blue-div'>
      <img
        src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebe3acd22a799452aa66_Ellipse%205%20(1).png'
        loading='lazy'
        sizes='(max-width: 991px) 100vw, 790.5px'
        srcset='https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebe3acd22a799452aa66_Ellipse%205%20(1)-p-500.png 500w, https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebe3acd22a799452aa66_Ellipse%205%20(1)-p-800.png 800w, https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebe3acd22a799452aa66_Ellipse%205%20(1).png 1641w'
        alt=''
        class='blue-gradient-image'
      />
    </div>
  </div><div class='wrapper-1160px home-2-customer-flex'>
    <div class='home-2-customer-text-wrapper'>
      <h2 class='h2-heading-56px'>
        <span class='boska-variable-text-opacity-70'>Une Polyvalence Concrétisée en </span>
        Expérience
      </h2>
    </div><div
      data-delay='4000'
      data-animation='slide'
      class='customer-stories-slider w-slider'
      data-autoplay='false'
      data-easing='ease'
      data-hide-arrows='false'
      data-disable-swipe='false'
      data-autoplay-limit='0'
      data-nav-spacing='3'
      data-duration='500'
      data-infinite='true'
      role='region'
      aria-label='carousel'
    >
      <div class='customer-stories-mask w-slider-mask' id='w-slider-mask-0'>
        <div
          class='customer-stories-slide w-slide'
          aria-label='1 of 4'
          role='group'
          style='transform: translateX(0px); opacity: 1;'
        >
          <div class='customer-stories-slide-wrapper'>
            <div class='customer-slide-image-wrapper'>
              <img
                src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62bb205d86616e7de9bbaf83_Mask%20group%20(3).png'
                loading='lazy'
                alt=''
                class='customer-slide-hero-image'
              />
            </div><div class='customer-slide-text-wrapper'>
              <div class='customer-slide-star-container'>
                <img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                  loading='lazy'
                  alt=''
                  class='home-2-customer-stories-star'
                /><img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                  loading='lazy'
                  alt=''
                  class='home-2-customer-stories-star'
                /><img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                  loading='lazy'
                  alt=''
                  class='home-2-customer-stories-star'
                /><img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                  loading='lazy'
                  alt=''
                  class='home-2-customer-stories-star'
                /><img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                  loading='lazy'
                  alt=''
                  class='home-2-customer-stories-star'
                />
              </div><div class='customer-slide-text-24px-70'>
                “Leverage agile frameworks to provide a robust synopsis for high
                level overviews. Iterative approaches to corporate strategy
                foster <span class='customer-slide-text-white-medum'
                  >collaborative thinking to further the overall</span
                > value proposition."
              </div><div class='customer-slide-bottom-flex'>
                <div class='customer-slide-author-text-wrap'>
                  <div class='customer-slide-author-text-18px bold-text'>
                    Rudra Ghosh
                  </div><div class='customer-slide-author-text-18px'>
                    Founder &amp; CEO Superflow
                  </div>
                </div><img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62baf73d19f7eb909b55865f_dulalix.svg'
                  loading='lazy'
                  alt=''
                  class='customer-slide-company-logo'
                />
              </div>
            </div>
          </div>
        </div><div
          class='customer-stories-slide w-slide'
          aria-label='2 of 4'
          role='group'
          aria-hidden='true'
          style='transform: translateX(0px); opacity: 1;'
        >
          <div class='customer-stories-slide-wrapper' aria-hidden='true'>
            <div class='customer-slide-image-wrapper' aria-hidden='true'>
              <img
                src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62bb205ba12e41ad8697f006_Mask%20group1%20(2).png'
                loading='lazy'
                alt=''
                class='customer-slide-hero-image'
                aria-hidden='true'
              />
            </div><div class='customer-slide-text-wrapper' aria-hidden='true'>
              <div class='customer-slide-star-container' aria-hidden='true'>
                <img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                  loading='lazy'
                  alt=''
                  class='home-2-customer-stories-star'
                  aria-hidden='true'
                /><img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                  loading='lazy'
                  alt=''
                  class='home-2-customer-stories-star'
                  aria-hidden='true'
                /><img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                  loading='lazy'
                  alt=''
                  class='home-2-customer-stories-star'
                  aria-hidden='true'
                /><img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                  loading='lazy'
                  alt=''
                  class='home-2-customer-stories-star'
                  aria-hidden='true'
                /><img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                  loading='lazy'
                  alt=''
                  class='home-2-customer-stories-star'
                  aria-hidden='true'
                />
              </div><div class='customer-slide-text-24px-70' aria-hidden='true'>
                “Leverage agile frameworks to provide a robust synopsis for high
                level overviews. Iterative approaches to corporate strategy
                foster <span
                  class='customer-slide-text-white-medum'
                  aria-hidden='true'
                  >collaborative thinking to further the overall</span
                > value proposition."
              </div><div class='customer-slide-bottom-flex' aria-hidden='true'>
                <div class='customer-slide-author-text-wrap' aria-hidden='true'>
                  <div
                    class='customer-slide-author-text-18px bold-text'
                    aria-hidden='true'
                  >
                    Rudra Ghosh
                  </div><div
                    class='customer-slide-author-text-18px'
                    aria-hidden='true'
                  >
                    Founder &amp; CEO Superflow
                  </div>
                </div><img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62baf73d19f7eb909b55865f_dulalix.svg'
                  loading='lazy'
                  alt=''
                  class='customer-slide-company-logo'
                  aria-hidden='true'
                />
              </div>
            </div>
          </div>
        </div><div
          class='customer-stories-slide w-slide'
          aria-label='3 of 4'
          role='group'
          aria-hidden='true'
          style='transform: translateX(0px); opacity: 1;'
        >
          <div class='customer-stories-slide-wrapper' aria-hidden='true'>
            <div class='customer-slide-image-wrapper' aria-hidden='true'>
              <img
                src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62bb205d86616e7de9bbaf83_Mask%20group%20(3).png'
                loading='lazy'
                alt=''
                class='customer-slide-hero-image'
                aria-hidden='true'
              />
            </div><div class='customer-slide-text-wrapper' aria-hidden='true'>
              <div class='customer-slide-star-container' aria-hidden='true'>
                <img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                  loading='lazy'
                  alt=''
                  class='home-2-customer-stories-star'
                  aria-hidden='true'
                /><img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                  loading='lazy'
                  alt=''
                  class='home-2-customer-stories-star'
                  aria-hidden='true'
                /><img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                  loading='lazy'
                  alt=''
                  class='home-2-customer-stories-star'
                  aria-hidden='true'
                /><img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                  loading='lazy'
                  alt=''
                  class='home-2-customer-stories-star'
                  aria-hidden='true'
                /><img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                  loading='lazy'
                  alt=''
                  class='home-2-customer-stories-star'
                  aria-hidden='true'
                />
              </div><div class='customer-slide-text-24px-70' aria-hidden='true'>
                “Leverage agile frameworks to provide a robust synopsis for high
                level overviews. Iterative approaches to corporate strategy
                foster <span
                  class='customer-slide-text-white-medum'
                  aria-hidden='true'
                  >collaborative thinking to further the overall</span
                > value proposition."
              </div><div class='customer-slide-bottom-flex' aria-hidden='true'>
                <div class='customer-slide-author-text-wrap' aria-hidden='true'>
                  <div
                    class='customer-slide-author-text-18px bold-text'
                    aria-hidden='true'
                  >
                    Rudra Ghosh
                  </div><div
                    class='customer-slide-author-text-18px'
                    aria-hidden='true'
                  >
                    Founder &amp; CEO Superflow
                  </div>
                </div><img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62baf73d19f7eb909b55865f_dulalix.svg'
                  loading='lazy'
                  alt=''
                  class='customer-slide-company-logo'
                  aria-hidden='true'
                />
              </div>
            </div>
          </div>
        </div><div
          class='customer-stories-slide w-slide'
          aria-label='4 of 4'
          role='group'
          aria-hidden='true'
          style='transform: translateX(0px); opacity: 1;'
        >
          <div class='customer-stories-slide-wrapper' aria-hidden='true'>
            <div class='customer-slide-image-wrapper' aria-hidden='true'>
              <img
                src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62bb205ba12e41ad8697f006_Mask%20group1%20(2).png'
                loading='lazy'
                alt=''
                class='customer-slide-hero-image'
                aria-hidden='true'
              />
            </div><div class='customer-slide-text-wrapper' aria-hidden='true'>
              <div class='customer-slide-star-container' aria-hidden='true'>
                <img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                  loading='lazy'
                  alt=''
                  class='home-2-customer-stories-star'
                  aria-hidden='true'
                /><img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                  loading='lazy'
                  alt=''
                  class='home-2-customer-stories-star'
                  aria-hidden='true'
                /><img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                  loading='lazy'
                  alt=''
                  class='home-2-customer-stories-star'
                  aria-hidden='true'
                /><img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                  loading='lazy'
                  alt=''
                  class='home-2-customer-stories-star'
                  aria-hidden='true'
                /><img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a63481a4a4fe84_Frame.svg'
                  loading='lazy'
                  alt=''
                  class='home-2-customer-stories-star'
                  aria-hidden='true'
                />
              </div><div class='customer-slide-text-24px-70' aria-hidden='true'>
                “Leverage agile frameworks to provide a robust synopsis for high
                level overviews. Iterative approaches to corporate strategy
                foster <span
                  class='customer-slide-text-white-medum'
                  aria-hidden='true'
                  >collaborative thinking to further the overall</span
                > value proposition."
              </div><div class='customer-slide-bottom-flex' aria-hidden='true'>
                <div class='customer-slide-author-text-wrap' aria-hidden='true'>
                  <div
                    class='customer-slide-author-text-18px bold-text'
                    aria-hidden='true'
                  >
                    Rudra Ghosh
                  </div><div
                    class='customer-slide-author-text-18px'
                    aria-hidden='true'
                  >
                    Founder &amp; CEO Superflow
                  </div>
                </div><img
                  src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62baf73d19f7eb909b55865f_dulalix.svg'
                  loading='lazy'
                  alt=''
                  class='customer-slide-company-logo'
                  aria-hidden='true'
                />
              </div>
            </div>
          </div>
        </div><div
          aria-live='off'
          aria-atomic='true'
          class='w-slider-aria-label'
          data-wf-ignore=''
        >
        </div>
      </div><div
        class='customer-stories-left-arrow w-slider-arrow-left'
        role='button'
        tabindex='0'
        aria-controls='w-slider-mask-0'
        aria-label='previous slide'
      >
        <img
          src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62baf906c5323519b9748043_CaretLeft.svg'
          loading='lazy'
          alt=''
          class='customer-slider-arrow-image'
        />
      </div><div
        class='customer-stories-right-arrow w-slider-arrow-right'
        role='button'
        tabindex='0'
        aria-controls='w-slider-mask-0'
        aria-label='next slide'
      >
        <img
          src='https://assets.website-files.com/6259e59720a6347d57a4fe10/62baf907f8835ff7e1106d61_CaretRight.svg'
          loading='lazy'
          alt=''
          class='customer-slider-arrow-image'
        />
      </div><div class='slide-nav w-slider-nav w-round'>
        <div
          class='w-slider-dot w-active'
          data-wf-ignore=''
          aria-label='Show slide 1 of 4'
          aria-pressed='true'
          role='button'
          tabindex='0'
          style='margin-left: 3px; margin-right: 3px;'
        >
        </div><div
          class='w-slider-dot'
          data-wf-ignore=''
          aria-label='Show slide 2 of 4'
          aria-pressed='false'
          role='button'
          tabindex='-1'
          style='margin-left: 3px; margin-right: 3px;'
        >
        </div><div
          class='w-slider-dot'
          data-wf-ignore=''
          aria-label='Show slide 3 of 4'
          aria-pressed='false'
          role='button'
          tabindex='-1'
          style='margin-left: 3px; margin-right: 3px;'
        >
        </div><div
          class='w-slider-dot'
          data-wf-ignore=''
          aria-label='Show slide 4 of 4'
          aria-pressed='false'
          role='button'
          tabindex='-1'
          style='margin-left: 3px; margin-right: 3px;'
        >
        </div>
      </div>
    </div>
  </div>
</div>
