---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

   <div class="home-3-manage-section">
        <div class="wrapper-1200px home-3-manage-flex">
          <div
            data-w-id="a9988ede-6786-d4bd-b5d8-8ddb93bf1188"
         
            class="home-3-manage-text-wrapper"
          >
            <div class="about-purple-tag-span blue-tag">features</div>
            <h2 class="h2-heading-56px margin-bottom-24px">
              One platform for your
              <span class="boska-variable-text-italic">every task</span>
            </h2>
            <div class="body-1-20px max-width-520px">
              Both senior and early-career professionals are invited to inquire
              about positions at our fast-growing firm.
            </div>
          </div>
          <div
            data-w-id="314b3dd4-886b-e658-2041-b154bda76e89"
           
            data-current="Tab 1"
            data-easing="ease"
            data-duration-in="300"
            data-duration-out="100"
            class="manage-tabs w-tabs"
          >
            <div class="manage-tabs-menu w-tab-menu">
              <a
                data-w-tab="Tab 1"
                class="manage-tab-link w-inline-block w-tab-link w--current"
                ><div>Engineering</div></a
              ><a
                data-w-tab="Tab 2"
                class="manage-tab-link w-inline-block w-tab-link"
                ><div>Finance</div></a
              ><a
                data-w-tab="Tab 3"
                class="manage-tab-link w-inline-block w-tab-link"
                ><div>Marketing</div></a
              ><a
                data-w-tab="Tab 4"
                class="manage-tab-link w-inline-block w-tab-link"
                ><div>Sales</div></a
              >
            </div>
            <div class="manage-tabs-content w-tab-content">
              <div
                data-w-tab="Tab 1"
                class="manage-tab-pane w-tab-pane w--tab-active"
              >
                <div class="home-3-manage-container">
                  <div class="home-feature-1-gradient-div">
                    <div class="yellow-gradient-div home-feature-1-gradient">
                      <img
                        alt=""
                        sizes="(max-width: 767px) 90vw, 600px"
                        srcset="
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%2520Gradient%2520Image%2520(1)-p-500.png  500w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%2520Gradient%2520Image%2520(1)-p-800.png  800w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%20Gradient%20Image%20(1).png             1930w
                        "
                        src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%20Gradient%20Image%20(1).png"
                        loading="lazy"
                        class="yellow-gradient-image"
                      />
                    </div>
                    <div class="green-gradient-div home-feature-1-gradient">
                      <img
                        alt=""
                        sizes="(max-width: 767px) 90vw, 600px"
                        srcset="
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-500.png   500w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-800.png   800w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-1080.png 1080w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%20Oval%20Gradient%20(2).png              2472w
                        "
                        src="../../assets/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%20Oval%20Gradient%20(2).png"
                        loading="lazy"
                        class="green-gradient-image"
                      />
                    </div>
                    <div class="blue-gradient-div home-feature-1-gradient">
                      <img
                        alt=""
                        sizes="(max-width: 767px) 90vw, 600px"
                        srcset="
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%2520Oval%2520Gradient%2520(2)-p-500.png  500w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%2520Oval%2520Gradient%2520(2)-p-800.png  800w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%20Oval%20Gradient%20(2).png             1974w
                        "
                        src="../../assets/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%20Oval%20Gradient%20(2).png"
                        loading="lazy"
                        class="blue-gradient-image"
                      />
                    </div>
                  </div>
                  <div class="home-feature-1-image-container">
                    <img
                      alt=""
                      sizes="(max-width: 767px) 90vw, (max-width: 991px) 73vw, (max-width: 1439px) 43vw, 560px"
                      srcset="
                        https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634104fa4ff02_Group%2520479%2520(1)-p-500.png  500w,
                        https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634104fa4ff02_Group%20479%20(1).png           1120w
                      "
                      src="../../assets/6259e59720a6347d57a4fe10/6259e59720a634104fa4ff02_Group%20479%20(1).png"
                      loading="lazy"
                      class="home-feature-hero-image"
                    />
                  </div>
                  <div class="home-feature-1-text-container">
                    <h2 class="h2-heading-56px margin-bottom-32px">
                      Manage
                      <span class="boska-variable-text-italic"
                        >all your cards</span
                      >
                      in one place
                    </h2>
                    <div class="body-1-20px">
                      Centralize and simplify payments, and get comprehensive
                      insights on your financials. Connect your bank account and
                      your card to Milestone.
                    </div>
                    <div class="pricing-plan-pointer-container">
                      <div class="pricing-plan-pointers">
                        <img
                          alt=""
                          loading="lazy"
                          src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6349656a4fe88_CheckCircle.svg"
                          class="pricing-plan-check-icon"
                        />
                        <div class="feature-pointer-text-20px">
                          No hidden fees.
                        </div>
                      </div>
                      <div class="pricing-plan-pointers">
                        <img
                          alt=""
                          loading="lazy"
                          src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6349656a4fe88_CheckCircle.svg"
                          class="pricing-plan-check-icon"
                        />
                        <div class="feature-pointer-text-20px">
                          100% security. Guaranteed.
                        </div>
                      </div>
                      <div class="pricing-plan-pointers no-margin">
                        <img
                          alt=""
                          loading="lazy"
                          src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6349656a4fe88_CheckCircle.svg"
                          class="pricing-plan-check-icon"
                        />
                        <div class="feature-pointer-text-20px">
                          No training or maintenance needed.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-w-tab="Tab 2" class="manage-tab-pane w-tab-pane">
                <div class="home-3-manage-container">
                  <div class="home-feature-1-gradient-div">
                    <div class="yellow-gradient-div home-feature-1-gradient">
                      <img
                        alt=""
                        sizes="(max-width: 767px) 90vw, 600px"
                        srcset="
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%2520Gradient%2520Image%2520(1)-p-500.png  500w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%2520Gradient%2520Image%2520(1)-p-800.png  800w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%20Gradient%20Image%20(1).png             1930w
                        "
                        src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%20Gradient%20Image%20(1).png"
                        loading="lazy"
                        class="yellow-gradient-image"
                      />
                    </div>
                    <div class="green-gradient-div home-feature-1-gradient">
                      <img
                        alt=""
                        sizes="(max-width: 767px) 90vw, 600px"
                        srcset="
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-500.png   500w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-800.png   800w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-1080.png 1080w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%20Oval%20Gradient%20(2).png              2472w
                        "
                        src="../../assets/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%20Oval%20Gradient%20(2).png"
                        loading="lazy"
                        class="green-gradient-image"
                      />
                    </div>
                    <div class="blue-gradient-div home-feature-1-gradient">
                      <img
                        alt=""
                        sizes="(max-width: 767px) 90vw, 600px"
                        srcset="
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%2520Oval%2520Gradient%2520(2)-p-500.png  500w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%2520Oval%2520Gradient%2520(2)-p-800.png  800w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%20Oval%20Gradient%20(2).png             1974w
                        "
                        src="../../assets/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%20Oval%20Gradient%20(2).png"
                        loading="lazy"
                        class="blue-gradient-image"
                      />
                    </div>
                  </div>
                  <div class="home-feature-1-image-container">
                    <img
                      alt=""
                      sizes="(max-width: 767px) 90vw, (max-width: 991px) 73vw, (max-width: 1439px) 43vw, 560px"
                      srcset="
                        https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6341225a4ff01_Group%2520491%2520(1)-p-500.png  500w,
                        https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6341225a4ff01_Group%20491%20(1).png           1120w
                      "
                      src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6341225a4ff01_Group%20491%20(1).png"
                      loading="lazy"
                      class="home-feature-hero-image"
                    />
                  </div>
                  <div class="home-feature-1-text-container">
                    <h2 class="h2-heading-56px margin-bottom-32px">
                      Send your money
                      <span class="boska-variable-text-italic"
                        >across boarder</span
                      >
                      within seconds
                    </h2>
                    <div class="body-1-20px">
                      Centralize and simplify payments, and get comprehensive
                      insights on your financials. Connect your bank account and
                      your card to Milestone.
                    </div>
                    <div class="pricing-plan-pointer-container">
                      <div class="pricing-plan-pointers">
                        <img
                          alt=""
                          loading="lazy"
                          src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6349656a4fe88_CheckCircle.svg"
                          class="pricing-plan-check-icon"
                        />
                        <div class="feature-pointer-text-20px">
                          No hidden fees.
                        </div>
                      </div>
                      <div class="pricing-plan-pointers">
                        <img
                          alt=""
                          loading="lazy"
                          src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6349656a4fe88_CheckCircle.svg"
                          class="pricing-plan-check-icon"
                        />
                        <div class="feature-pointer-text-20px">
                          100% security. Guaranteed.
                        </div>
                      </div>
                      <div class="pricing-plan-pointers no-margin">
                        <img
                          alt=""
                          loading="lazy"
                          src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6349656a4fe88_CheckCircle.svg"
                          class="pricing-plan-check-icon"
                        />
                        <div class="feature-pointer-text-20px">
                          No training or maintenance needed.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-w-tab="Tab 3" class="manage-tab-pane w-tab-pane">
                <div class="home-3-manage-container">
                  <div class="home-feature-1-gradient-div">
                    <div class="yellow-gradient-div home-feature-1-gradient">
                      <img
                        alt=""
                        sizes="(max-width: 767px) 90vw, 600px"
                        srcset="
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%2520Gradient%2520Image%2520(1)-p-500.png  500w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%2520Gradient%2520Image%2520(1)-p-800.png  800w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%20Gradient%20Image%20(1).png             1930w
                        "
                        src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%20Gradient%20Image%20(1).png"
                        loading="lazy"
                        class="yellow-gradient-image"
                      />
                    </div>
                    <div class="green-gradient-div home-feature-1-gradient">
                      <img
                        alt=""
                        sizes="(max-width: 767px) 90vw, 600px"
                        srcset="
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-500.png   500w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-800.png   800w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-1080.png 1080w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%20Oval%20Gradient%20(2).png              2472w
                        "
                        src="../../assets/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%20Oval%20Gradient%20(2).png"
                        loading="lazy"
                        class="green-gradient-image"
                      />
                    </div>
                    <div class="blue-gradient-div home-feature-1-gradient">
                      <img
                        alt=""
                        sizes="(max-width: 767px) 90vw, 600px"
                        srcset="
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%2520Oval%2520Gradient%2520(2)-p-500.png  500w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%2520Oval%2520Gradient%2520(2)-p-800.png  800w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%20Oval%20Gradient%20(2).png             1974w
                        "
                        src="../../assets/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%20Oval%20Gradient%20(2).png"
                        loading="lazy"
                        class="blue-gradient-image"
                      />
                    </div>
                  </div>
                  <div class="home-feature-1-image-container">
                    <img
                      alt=""
                      sizes="(max-width: 767px) 90vw, (max-width: 991px) 73vw, (max-width: 1439px) 43vw, 560px"
                      srcset="
                        https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634104fa4ff02_Group%2520479%2520(1)-p-500.png  500w,
                        https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634104fa4ff02_Group%20479%20(1).png           1120w
                      "
                      src="../../assets/6259e59720a6347d57a4fe10/6259e59720a634104fa4ff02_Group%20479%20(1).png"
                      loading="lazy"
                      class="home-feature-hero-image"
                    />
                  </div>
                  <div class="home-feature-1-text-container">
                    <h2 class="h2-heading-56px margin-bottom-32px">
                      Manage
                      <span class="boska-variable-text-italic"
                        >all your cards</span
                      >
                      in one place
                    </h2>
                    <div class="body-1-20px">
                      Centralize and simplify payments, and get comprehensive
                      insights on your financials. Connect your bank account and
                      your card to Milestone.
                    </div>
                    <div class="pricing-plan-pointer-container">
                      <div class="pricing-plan-pointers">
                        <img
                          alt=""
                          loading="lazy"
                          src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6349656a4fe88_CheckCircle.svg"
                          class="pricing-plan-check-icon"
                        />
                        <div class="feature-pointer-text-20px">
                          No hidden fees.
                        </div>
                      </div>
                      <div class="pricing-plan-pointers">
                        <img
                          alt=""
                          loading="lazy"
                          src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6349656a4fe88_CheckCircle.svg"
                          class="pricing-plan-check-icon"
                        />
                        <div class="feature-pointer-text-20px">
                          100% security. Guaranteed.
                        </div>
                      </div>
                      <div class="pricing-plan-pointers no-margin">
                        <img
                          alt=""
                          loading="lazy"
                          src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6349656a4fe88_CheckCircle.svg"
                          class="pricing-plan-check-icon"
                        />
                        <div class="feature-pointer-text-20px">
                          No training or maintenance needed.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-w-tab="Tab 4" class="manage-tab-pane w-tab-pane">
                <div class="home-3-manage-container">
                  <div class="home-feature-1-gradient-div">
                    <div class="yellow-gradient-div home-feature-1-gradient">
                      <img
                        alt=""
                        sizes="(max-width: 767px) 90vw, 600px"
                        srcset="
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%2520Gradient%2520Image%2520(1)-p-500.png  500w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%2520Gradient%2520Image%2520(1)-p-800.png  800w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%20Gradient%20Image%20(1).png             1930w
                        "
                        src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6342491a4ff05_Peach%20Gradient%20Image%20(1).png"
                        loading="lazy"
                        class="yellow-gradient-image"
                      />
                    </div>
                    <div class="green-gradient-div home-feature-1-gradient">
                      <img
                        alt=""
                        sizes="(max-width: 767px) 90vw, 600px"
                        srcset="
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-500.png   500w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-800.png   800w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-1080.png 1080w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%20Oval%20Gradient%20(2).png              2472w
                        "
                        src="../../assets/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%20Oval%20Gradient%20(2).png"
                        loading="lazy"
                        class="green-gradient-image"
                      />
                    </div>
                    <div class="blue-gradient-div home-feature-1-gradient">
                      <img
                        alt=""
                        sizes="(max-width: 767px) 90vw, 600px"
                        srcset="
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%2520Oval%2520Gradient%2520(2)-p-500.png  500w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%2520Oval%2520Gradient%2520(2)-p-800.png  800w,
                          https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%20Oval%20Gradient%20(2).png             1974w
                        "
                        src="../../assets/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%20Oval%20Gradient%20(2).png"
                        loading="lazy"
                        class="blue-gradient-image"
                      />
                    </div>
                  </div>
                  <div class="home-feature-1-image-container">
                    <img
                      alt=""
                      sizes="(max-width: 767px) 90vw, (max-width: 991px) 73vw, (max-width: 1439px) 43vw, 560px"
                      srcset="
                        https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6341225a4ff01_Group%2520491%2520(1)-p-500.png  500w,
                        https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6341225a4ff01_Group%20491%20(1).png           1120w
                      "
                      src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6341225a4ff01_Group%20491%20(1).png"
                      loading="lazy"
                      class="home-feature-hero-image"
                    />
                  </div>
                  <div class="home-feature-1-text-container">
                    <h2 class="h2-heading-56px margin-bottom-32px">
                      Send your money
                      <span class="boska-variable-text-italic"
                        >across boarder</span
                      >
                      within seconds
                    </h2>
                    <div class="body-1-20px">
                      Centralize and simplify payments, and get comprehensive
                      insights on your financials. Connect your bank account and
                      your card to Milestone.
                    </div>
                    <div class="pricing-plan-pointer-container">
                      <div class="pricing-plan-pointers">
                        <img
                          alt=""
                          loading="lazy"
                          src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6349656a4fe88_CheckCircle.svg"
                          class="pricing-plan-check-icon"
                        />
                        <div class="feature-pointer-text-20px">
                          No hidden fees.
                        </div>
                      </div>
                      <div class="pricing-plan-pointers">
                        <img
                          alt=""
                          loading="lazy"
                          src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6349656a4fe88_CheckCircle.svg"
                          class="pricing-plan-check-icon"
                        />
                        <div class="feature-pointer-text-20px">
                          100% security. Guaranteed.
                        </div>
                      </div>
                      <div class="pricing-plan-pointers no-margin">
                        <img
                          alt=""
                          loading="lazy"
                          src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6349656a4fe88_CheckCircle.svg"
                          class="pricing-plan-check-icon"
                        />
                        <div class="feature-pointer-text-20px">
                          No training or maintenance needed.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!-- <div class="feature-pay-section">
        <div class="wrapper-1160px pay-flex">
          <div class="pay-upper-container">
            <h2 class="h2-heading-56px">
              Conçus pour les Business
              <span class="boska-variable-text-opacity-70"
                >haute gamme</span
              >
            </h2>
          </div>
          <div class="pay-bottom-wrapper">
            <div
              data-current="Tab 1"
              data-easing="ease"
              data-duration-in="300"
              data-duration-out="100"
              class="pay-tabs w-tabs"
            >
              <div class="pay-tabs-menu w-tab-menu">
                <a
                  data-w-tab="Tab 1"
                  class="pay-tab-link w-inline-block w-tab-link w--current"
                  ><div>Boost your Payments</div></a
                ><a
                  data-w-tab="Tab 2"
                  class="pay-tab-link w-inline-block w-tab-link"
                  ><div>Cost Reduction</div></a
                ><a
                  data-w-tab="Tab 3"
                  class="pay-tab-link w-inline-block w-tab-link"
                  ><div>Bank-level Security</div></a
                >
              </div>
              <div class="pay-tabs-content w-tab-content">
                <div
                  data-w-tab="Tab 1"
                  class="pay-tab-pane w-tab-pane w--tab-active"
                >
                  <div class="pay-tab-pane-wrapper">
                    <div class="pay-tab-image-wrapper">
                      <img
                        alt=""
                        loading="lazy"
                        src="../assets/6259e59720a6347d57a4fe10/6259e59720a6343f58a4fec7_Rectangle%20355%20(1).png"
                        class="pay-tab-hero-image"
                      />
                    </div>
                    <div class="pay-tab-text-wrapper">
                      <div class="pay-tab-icon-container">
                        <img
                          alt=""
                          loading="lazy"
                          src="../assets/6259e59720a6347d57a4fe10/6259e59720a634b119a4fec9_image%2067.png"
                          class="pay-tab-icon"
                        />
                      </div>
                      <h3 class="h3-heading-40px">
                        Create and send customized invoices in seconds
                      </h3>
                      <div class="pricing-plan-pointer-container">
                        <div class="pricing-plan-pointers">
                          <img
                            alt=""
                            loading="lazy"
                            src="../assets/6259e59720a6347d57a4fe10/6259e59720a63427d6a4fec8_CheckCircle.svg"
                            class="pricing-plan-check-icon"
                          />
                          <div class="pricing-plan-pointer-text-18px">
                            Automated payment reminders
                          </div>
                        </div>
                        <div class="pricing-plan-pointers">
                          <img
                            alt=""
                            loading="lazy"
                            src="../assets/6259e59720a6347d57a4fe10/6259e59720a63427d6a4fec8_CheckCircle.svg"
                            class="pricing-plan-check-icon"
                          />
                          <div class="pricing-plan-pointer-text-18px">
                            Professional white-labelled invoices
                          </div>
                        </div>
                        <div class="pricing-plan-pointers no-margin">
                          <img
                            alt=""
                            loading="lazy"
                            src="../assets/6259e59720a6347d57a4fe10/6259e59720a63427d6a4fec8_CheckCircle.svg"
                            class="pricing-plan-check-icon"
                          />
                          <div class="pricing-plan-pointer-text-18px">
                            Track status of all invoices
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-w-tab="Tab 2" class="pay-tab-pane w-tab-pane">
                  <div class="pay-tab-pane-wrapper">
                    <div class="pay-tab-image-wrapper">
                      <img
                        alt=""
                        loading="lazy"
                        src="../assets/6259e59720a6347d57a4fe10/6259e59720a634476fa4fece_Rectangle%20389%20(1).png"
                        class="pay-tab-hero-image"
                      />
                    </div>
                    <div class="pay-tab-text-wrapper">
                      <div class="pay-tab-icon-container light-blue">
                        <img
                          alt=""
                          loading="lazy"
                          src="../assets/6259e59720a6347d57a4fe10/6259e59720a63476e7a4fecc_image%2065.png"
                          class="pay-tab-icon"
                        />
                      </div>
                      <h3 class="h3-heading-40px">
                        Reduced Payments maintenance and processing fees.
                      </h3>
                      <div class="pricing-plan-pointer-container">
                        <div class="pricing-plan-pointers">
                          <img
                            alt=""
                            loading="lazy"
                            src="../assets/6259e59720a6347d57a4fe10/6259e59720a63427d6a4fec8_CheckCircle.svg"
                            class="pricing-plan-check-icon"
                          />
                          <div class="pricing-plan-pointer-text-18px">
                            Say goodbye to bank fees.
                          </div>
                        </div>
                        <div class="pricing-plan-pointers">
                          <img
                            alt=""
                            loading="lazy"
                            src="../assets/6259e59720a6347d57a4fe10/6259e59720a63427d6a4fec8_CheckCircle.svg"
                            class="pricing-plan-check-icon"
                          />
                          <div class="pricing-plan-pointer-text-18px">
                            Deposit funds easily, securely.
                          </div>
                        </div>
                        <div class="pricing-plan-pointers no-margin">
                          <img
                            alt=""
                            loading="lazy"
                            src="../assets/6259e59720a6347d57a4fe10/6259e59720a63427d6a4fec8_CheckCircle.svg"
                            class="pricing-plan-check-icon"
                          />
                          <div class="pricing-plan-pointer-text-18px">
                            Get live support 24X7
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-w-tab="Tab 3" class="pay-tab-pane w-tab-pane">
                  <div class="pay-tab-pane-wrapper">
                    <div class="pay-tab-image-wrapper">
                      <img
                        alt=""
                        loading="lazy"
                        src="../assets/6259e59720a6347d57a4fe10/6259e59720a63458e2a4fecd_Group%20717%20(1).png"
                        class="pay-tab-hero-image"
                      />
                    </div>
                    <div class="pay-tab-text-wrapper">
                      <div class="pay-tab-icon-container light-pink">
                        <img
                          alt=""
                          loading="lazy"
                          src="../assets/6259e59720a6347d57a4fe10/6259e59720a6343400a4fecb_image%2064.png"
                          class="pay-tab-icon"
                        />
                      </div>
                      <h3 class="h3-heading-40px">
                        Personal information is encrypted and protected
                      </h3>
                      <div class="pricing-plan-pointer-container">
                        <div class="pricing-plan-pointers">
                          <img
                            alt=""
                            loading="lazy"
                            src="../assets/6259e59720a6347d57a4fe10/6259e59720a63427d6a4fec8_CheckCircle.svg"
                            class="pricing-plan-check-icon"
                          />
                          <div class="pricing-plan-pointer-text-18px">
                            Say goodbye to bank fees.
                          </div>
                        </div>
                        <div class="pricing-plan-pointers">
                          <img
                            alt=""
                            loading="lazy"
                            src="../assets/6259e59720a6347d57a4fe10/6259e59720a63427d6a4fec8_CheckCircle.svg"
                            class="pricing-plan-check-icon"
                          />
                          <div class="pricing-plan-pointer-text-18px">
                            Deposit funds easily, securely.
                          </div>
                        </div>
                        <div class="pricing-plan-pointers no-margin">
                          <img
                            alt=""
                            loading="lazy"
                            src="../assets/6259e59720a6347d57a4fe10/6259e59720a63427d6a4fec8_CheckCircle.svg"
                            class="pricing-plan-check-icon"
                          />
                          <div class="pricing-plan-pointer-text-18px">
                            Get live support 24X7
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
