---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

   <div class="process-section">
        <div class="process-gradient-div">
          <div class="green-gradient-div process-green-gradient-div">
            <img
              src="../../assets/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%20Oval%20Gradient%20(2).png"
              loading="lazy"
              sizes="(max-width: 479px) 100vw, 652px"
              srcset="
                https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-500.png   500w,
                https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-800.png   800w,
                https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%2520Oval%2520Gradient%2520(2)-p-1080.png 1080w,
                https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634e8eea4ff07_Green%20Oval%20Gradient%20(2).png              2472w
              "
              alt=""
              class="green-gradient-image"
            />
          </div>
          <div class="blue-gradient-div blue-process-gradient">
            <img
              src="../../assets/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%20Oval%20Gradient%20(2).png"
              loading="lazy"
              sizes="(max-width: 479px) 100vw, 689px"
              srcset="
                https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%2520Oval%2520Gradient%2520(2)-p-500.png  500w,
                https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%2520Oval%2520Gradient%2520(2)-p-800.png  800w,
                https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634837ba4ff06_Blue%20Oval%20Gradient%20(2).png             1974w
              "
              alt=""
              class="blue-gradient-image"
            />
          </div>
        </div>
        <img
          src="../../assets/6259e59720a6347d57a4fe10/6259e59720a634bb42a4ff11_Burst-pucker-1.svg"
          loading="lazy"
          alt=""
          class="process-white-star-svg"
        /><img
          src="../../assets/6259e59720a6347d57a4fe10/6259e59720a6347514a4ff10_Vector%2097.svg"
          loading="lazy"
          alt=""
          class="process-white-path-svg"
        />
        <div class="wrapper-1160px process-flex">
          <div class="process-heading-container">
            <h2 class="h2-heading-56px">
              <span class="boska-variable-text-opacity-70"
                >The 4 step razdoute</span
              >
              to better finacial management. Smarter accounting for faster
              growth.
            </h2>
          </div>
          <div class="process-bottom-container">
            <div class="process-accordin-slider-wrapper">
              <div
                data-delay="4000"
                data-animation="slide"
                class="process-accordin-slider w-slider"
                data-autoplay="false"
                data-easing="ease"
                data-hide-arrows="false"
                data-disable-swipe="false"
                data-autoplay-limit="0"
                data-nav-spacing="3"
                data-duration="500"
                data-infinite="true"
              >
                <div class="process-accordin-mask w-slider-mask">
                  <div class="process-accordin-slide w-slide">
                    <div class="p-accordin-slider-container">
                      <div class="p-accordin-slider-number-text">01</div>
                      <div class="p-accordin-slider-heading-32px">
                        Design
                      </div>
                      <div class="p-accordin-slider-para-18px">
                        Scan invoices, automate data-entry and route approvals,
                        effortlessly, automatically.
                      </div>
                    </div>
                  </div>
                  <div class="process-accordin-slide w-slide">
                    <div class="p-accordin-slider-container">
                      <div class="p-accordin-slider-number-text">02</div>
                      <div class="p-accordin-slider-heading-32px">
                        Développement
                      </div>
                      <div class="p-accordin-slider-para-18px">
                        Scan invoices, automate data-entry and route approvals,
                        effortlessly, automatically.
                      </div>
                    </div>
                  </div>
                  <div class="process-accordin-slide w-slide">
                    <div class="p-accordin-slider-container">
                      <div class="p-accordin-slider-number-text">03</div>
                      <div class="p-accordin-slider-heading-32px">
                        Marketing
                      </div>
                      <div class="p-accordin-slider-para-18px">
                        Scan invoices, automate data-entry and route approvals,
                        effortlessly, automatically.
                      </div>
                    </div>
                  </div>
                 
                </div>
                <div
                  class="p-accordin-slider-left-arrow w-slider-arrow-left"
                ></div>
                <div
                  class="p-accordin-slider-right-arrow w-slider-arrow-right"
                ></div>
                <div
                  class="process-accordin-slide-nav w-slider-nav w-round"
                ></div>
              </div>
            </div>
            <div class="process-accordions">
              <a
                data-w-id="e5715a25-ec91-aece-9daa-40321186fbea"
                style="width: 360px"
                href="#"
                class="process-accordion _1 w-inline-block"
                ><div class="process-accordin-container">
                  <div style="display: none" class="numbers _1">01.</div>
                  <div style="display: block" class="numbers large-1">01.</div>
                  <div style="width: 100%" class="accordin-normal _1">
                    <div style="display: none" class="vertical-text _1">
                      Design
                    </div>
                    <div style="display: block" class="accordin-active _1">
                      <div class="accordin-active-text heading-1">
                        Design
                      </div>
                      <div class="accordin-active-text">
                        Scan invoices, automate data-entry and route approvals,
                        effortlessly, automatically.
                      </div>
                    </div>
                  </div>
                </div></a
              ><a
                data-w-id="e5715a25-ec91-aece-9daa-40321186fbf4"
                href="#"
                class="process-accordion _2 w-inline-block"
                ><div class="process-accordin-container">
                  <div class="numbers _2">02.</div>
                  <div class="numbers large-2">02.</div>
                  <div class="accordin-normal _2">
                    <div class="vertical-text _2">Développement</div>
                    <div class="accordin-active _2">
                      <div class="accordin-active-text heading-1">
                        Développement
                      </div>
                      <div class="accordin-active-text">
                        Gather information about your business, its structure,
                        goals and policies.
                      </div>
                    </div>
                  </div>
                </div></a
              ><a
                data-w-id="e5715a25-ec91-aece-9daa-40321186fbfe"
                href="#"
                class="process-accordion _3 w-inline-block"
                ><div class="process-accordin-container">
                  <div class="numbers _3">03.</div>
                  <div class="numbers large-3">03.</div>
                  <div class="accordin-normal _3">
                    <div class="vertical-text _3">Marketing</div>
                    <div class="accordin-active _3">
                      <div class="accordin-active-text heading-1">
                       Marketing
                      </div>
                      <div class="accordin-active-text">
                        Design a website that is aligned to your marketing plan.
                      </div>
                    </div>
                  </div>
                </div></a
              > 
              
            </div>
          </div>
        </div>
      </div>
