---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

 <div class="home-2-process-section">
        <div class="green-gradient-div home-2-process-green-gradient">
          <img
            src="../../assets.website-files.com/6259e59720a6347d57a4fe10/62c2f60ab44ea93dd695bd1c_Ellipse%209%20(1).png"
            loading="lazy"
            sizes="(max-width: 991px) 100vw, 774px"
            srcset="
              https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2f60ab44ea93dd695bd1c_Ellipse%209%20(1)-p-500.png  500w,
              https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2f60ab44ea93dd695bd1c_Ellipse%209%20(1).png       1193w
            "
            alt=""
            class="green-gradient-image"
          />
        </div>
        <div class="home-2-process-gradient-div">
          <div class="green-gradient-div home-2-process-green-div">
            <img
              src="../../assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebb10d13eebf4bf1dd46_Ellipse%204%20(1).png"
              loading="lazy"
              sizes="(max-width: 767px) 100vw, 489px"
              srcset="
                https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebb10d13eebf4bf1dd46_Ellipse%204%20(1)-p-500.png  500w,
                https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebb10d13eebf4bf1dd46_Ellipse%204%20(1)-p-800.png  800w,
                https://assets.website-files.com/6259e59720a6347d57a4fe10/62c2ebb10d13eebf4bf1dd46_Ellipse%204%20(1).png       1795w
              "
              alt=""
              class="green-gradient-image"
            />
          </div>
          <div class="blue-gradient-div home-2-process-blue-div">
            <img
              src="../../assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6345897a4ff03_Blue%20Gradient%20Image%20(2).png"
              loading="lazy"
              sizes="(max-width: 767px) 100vw, 498px"
              srcset="
                https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6345897a4ff03_Blue%2520Gradient%2520Image%2520(2)-p-500.png  500w,
                https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a6345897a4ff03_Blue%20Gradient%20Image%20(2).png             1612w
              "
              alt=""
              class="blue-gradient-image"
            />
          </div>
        </div>
        <div class="wrapper-1160px home-2-process-flex">
          <div class="home-2-process-text-wrapper">
            <div class="heading-animation-div">
              <h2 class="h2-heading-56px">
                <span class="boska-variable-text-opacity-70"
                  >Une panoplie digitale </span
                >
                sur mesure
              </h2>
            </div>
          </div>
          <div class="home-2-process-grid">
            <div class="home-2-process-item-wrapper">
              <div class="home-2-process-item-number-text">01</div>
              <div class="home-2-process-item-heading">Automate expense</div>
              <div class="body-2---18px text-opacity-70">
                On top of all that, we takes care of other common issues such as
                missing system-fonts, missing  issues such as missing
              </div>
            </div>
            <div class="home-2-process-item-wrapper">
              <div class="home-2-process-item-number-text">02</div>
              <div class="home-2-process-item-heading">Set custom rules</div>
              <div class="body-2---18px text-opacity-70">
                On top of all that, we takes care of other common issues such as
                missing system-fonts, missing  issues such as missing
              </div>
            </div>
            <div class="home-2-process-item-wrapper">
              <div class="home-2-process-item-number-text">03</div>
              <div class="home-2-process-item-heading">Linking payroll</div>
              <div class="body-2---18px text-opacity-70">
                On top of all that, we takes care of other common issues such as
                missing system-fonts, missing  issues such as missing
              </div>
            </div>
          </div>
          <div class="button-animation-div">
            <a
              href="../features.html"
              class="button-large---yellow-king w-inline-block"
              ><div>Try it on browser</div>
              <img
                src="../../assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634856aa4fe6d_ArrowUpRight%20Black.svg"
                loading="lazy"
                alt=""
                class="arrow-upright-icon"
            /></a>
          </div>
        </div>
      </div>