<div class='home-integration-section'>
  <div class='wrapper-1160px home-integration-flex'>
    <div class='home-integration-upper-wrapper'>
      <div class='home-integration-text-wrapper'>
        <div class='heading-animation-div'>
          <h2 class='h2-heading-56px'>
            Stack
            <span class='boska-variable-text-italic'>Technique</span>
          </h2>
        </div>
      </div>
 
    </div>
    <div class='home-integration-grid-container'>
      <div class='w-dyn-list'>
        <div role='list' class='home-integration-collection-grid w-dyn-items'>
          <div role='listitem' class='w-dyn-item'>
            <a
              href='../integrations/dropbox.html'
              class='home-integration-item w-inline-block'
              ><img
                src='../../assets/6259e59720a6341a1fa4fe2f/6259e59720a634a1dea4fe3f_Logo%208.png'
                loading='lazy'
                alt=''
                class='home-integration-image'
              />
              <div class='home-integration-item-heading'>Dropbox</div></a
            >
          </div>
          <div role='listitem' class='w-dyn-item'>
            <a
              href='../integrations/shopify.html'
              class='home-integration-item w-inline-block'
              ><img
                src='../../assets/6259e59720a6341a1fa4fe2f/6259e59720a634691ca4fe65_Logo%2018.png'
                loading='lazy'
                alt=''
                class='home-integration-image'
              />
              <div class='home-integration-item-heading'>Shopify</div></a
            >
          </div>
          <div role='listitem' class='w-dyn-item'>
            <a
              href='../integrations/hubspot.html'
              class='home-integration-item w-inline-block'
              ><img
                src='../../assets/6259e59720a6341a1fa4fe2f/6259e59720a63441aaa4fe79_Logo%2020.png'
                loading='lazy'
                alt=''
                class='home-integration-image'
              />
              <div class='home-integration-item-heading'>Hubspot</div></a
            >
          </div>
          <div role='listitem' class='w-dyn-item'>
            <a
              href='../integrations/slack.html'
              class='home-integration-item w-inline-block'
              ><img
                src='../../assets/6259e59720a6341a1fa4fe2f/6259e59720a63412f0a4fe8d_Logo%202.png'
                loading='lazy'
                alt=''
                class='home-integration-image'
              />
              <div class='home-integration-item-heading'>Slack</div></a
            >
          </div>
          <div role='listitem' class='w-dyn-item'>
            <a
              href='../integrations/intercom.html'
              class='home-integration-item w-inline-block'
              ><img
                src='../../assets/6259e59720a6341a1fa4fe2f/6259e59720a63428bba4fe9f_Logo%2022.png'
                loading='lazy'
                alt=''
                class='home-integration-image'
              />
              <div class='home-integration-item-heading'>Intercom</div></a
            >
          </div>
          <div role='listitem' class='w-dyn-item'>
            <a
              href='../integrations/zapier.html'
              class='home-integration-item w-inline-block'
              ><img
                src='../../assets/6259e59720a6341a1fa4fe2f/6259e59720a6341691a4feb3_Logo%209.png'
                loading='lazy'
                alt=''
                class='home-integration-image'
              />
              <div class='home-integration-item-heading'>Zapier</div></a
            >
          </div>
          <div role='listitem' class='w-dyn-item'>
            <a
              href='../integrations/kickstarter.html'
              class='home-integration-item w-inline-block'
              ><img
                src='../../assets/6259e59720a6341a1fa4fe2f/6259e59720a6345002a4fec6_Logo%2010.png'
                loading='lazy'
                alt=''
                class='home-integration-image'
              />
              <div class='home-integration-item-heading'>Kickstarter</div></a
            >
          </div>
          <div role='listitem' class='w-dyn-item'>
            <a
              href='../integrations/mailchimp.html'
              class='home-integration-item w-inline-block'
              ><img
                src='../../assets/6259e59720a6341a1fa4fe2f/6259e59720a63435a9a4fed9_Logo%2016.png'
                loading='lazy'
                alt=''
                class='home-integration-image'
              />
              <div class='home-integration-item-heading'>Mailchimp</div></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
